In [1]:
import pandas as pd
import re
import pymysql
from sqlalchemy import create_engine
import getpass

In [2]:
total_accidents_2018 = pd.read_excel('./files_for_lab/2018_Accidentalidad.xlsx')
total_accidents_2018

,FECHA,RANGO HORARIO,DIA SEMANA,DISTRITO,LUGAR ACCIDENTE,Nº,Nº PARTE,CPFA Granizo,CPFA Hielo,CPFA Lluvia,...,CPSV Grava Suelta,CPSV Hielo,CPSV Seca Y Limpia,Nº VICTIMAS,TIPO ACCIDENTE,Tipo Vehiculo,TIPO PERSONA,SEXO,LESIVIDAD,Tramo Edad
0,2018-01-01,DE 00:00 A 00:59,LUNES,USERA,CALLE DE SAN BASILIO - CALLE DEL CRISTO DE LA ...,0,2018/1,NO,NO,NO,...,NO,NO,SI,1,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HG,DE 15 A 17 AÑOS
1,2018-01-01,DE 00:00 A 00:59,LUNES,USERA,CALLE DE SAN BASILIO - CALLE DEL CRISTO DE LA ...,0,2018/1,NO,NO,NO,...,NO,NO,SI,1,ATROPELLO,NO ASIGNADO,TESTIGO,HOMBRE,IL,DE 30 A 34 ANOS
2,2018-01-01,DE 00:00 A 00:59,LUNES,USERA,CALLE DE SAN BASILIO - CALLE DEL CRISTO DE LA ...,0,2018/1,NO,NO,NO,...,NO,NO,SI,1,ATROPELLO,TURISMO,CONDUCTOR,HOMBRE,IL,DE 35 A 39 AÑOS
3,2018-01-01,DE 1:00 A 1:59,LUNES,HORTALEZA,AVENIDA DE FRANCISCO PI Y MARGALL - AVENIDA DE...,,2018/3,NO,NO,NO,...,NO,NO,SI,1,CHOQUE CON OBJETO FIJO,NO ASIGNADO,TESTIGO,HOMBRE,IL,DE 21 A 24 AÑOS
4,2018-01-01,DE 1:00 A 1:59,LUNES,HORTALEZA,AVENIDA DE FRANCISCO PI Y MARGALL - AVENIDA DE...,,2018/3,NO,NO,NO,...,NO,NO,SI,1,CHOQUE CON OBJETO FIJO,NO ASIGNADO,TESTIGO,MUJER,IL,DE 40 A 44 AÑOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30117,2018-12-31,DE 21:00 A 21:59,LUNES,SALAMANCA,CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA ...,0,2019/18,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,TURISMO,VIAJERO,HOMBRE,IL,DE 30 A 34 ANOS
30118,2018-12-31,DE 21:00 A 21:59,LUNES,SALAMANCA,CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA ...,0,2019/18,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,AUTO-TAXI,CONDUCTOR,HOMBRE,IL,DE 40 A 44 AÑOS
30119,2018-12-31,DE 23:00 A 23:59,LUNES,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,2019/53,NO,NO,NO,...,NO,NO,SI,1,OTRAS CAUSAS,TURISMO,CONDUCTOR,MUJER,IL,DE 21 A 24 AÑOS
30120,2018-12-31,DE 23:00 A 23:59,LUNES,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,2019/53,NO,NO,NO,...,NO,NO,SI,1,OTRAS CAUSAS,TURISMO,CONDUCTOR,HOMBRE,HL,DE 50 A 54 AÑOS
30121,2018-12-31,DE 23:00 A 23:59,LUNES,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,2019/53,NO,NO,NO,...,NO,NO,SI,1,OTRAS CAUSAS,TURISMO,CONDUCTOR,NO ASIGNADO,NO ASIGNADA,DESCONOCIDA

In [3]:
total_accidents_2018['TIPO PERSONA'].value_counts()

CONDUCTOR                                   19333
VIAJERO                                      5365
TESTIGO                                      3659
PEATON                                       1765
Name: TIPO PERSONA, dtype: int64

In [4]:
total_accidents_2018['LESIVIDAD'].value_counts()

IL                                          15574
HL                                          12497
NO ASIGNADA                                  1118
HG                                            896
MT                                             37
Name: LESIVIDAD, dtype: int64

In [5]:
total_accidents_2018.columns

Index(['FECHA', 'RANGO HORARIO', 'DIA SEMANA', 'DISTRITO', 'LUGAR ACCIDENTE',
       'Nº', 'Nº PARTE', 'CPFA Granizo', 'CPFA Hielo', 'CPFA Lluvia',
       'CPFA Niebla', 'CPFA Seco', 'CPFA Nieve', 'CPSV Mojada', 'CPSV Aceite',
       'CPSV Barro', 'CPSV Grava Suelta', 'CPSV Hielo', 'CPSV Seca Y Limpia',
       'Nº VICTIMAS', 'TIPO ACCIDENTE', 'Tipo Vehiculo', 'TIPO PERSONA',
       'SEXO', 'LESIVIDAD', 'Tramo Edad'],
      dtype='object')

In [6]:
total_accidents_2018.isna().sum()

FECHA                 0
RANGO HORARIO         0
DIA SEMANA            0
DISTRITO              0
LUGAR ACCIDENTE       0
Nº                    0
Nº PARTE              0
CPFA Granizo          0
CPFA Hielo            0
CPFA Lluvia           0
CPFA Niebla           0
CPFA Seco             0
CPFA Nieve            0
CPSV Mojada           0
CPSV Aceite           0
CPSV Barro            0
CPSV Grava Suelta     0
CPSV Hielo            0
CPSV Seca Y Limpia    0
Nº VICTIMAS           0
TIPO ACCIDENTE        0
Tipo Vehiculo         0
TIPO PERSONA          0
SEXO                  0
LESIVIDAD             0
Tramo Edad            0
dtype: int64

In [7]:
total_accidents_2018['DISTRITO'].unique()

array(['USERA                         ', 'HORTALEZA                     ',
       'SAN BLAS                      ', 'CIUDAD LINEAL                 ',
       'FUENCARRAL-EL PARDO           ', 'MORATALAZ                     ',
       'ARGANZUELA                    ', 'CENTRO                        ',
       'SALAMANCA                     ', 'CHAMARTIN                     ',
       'CARABANCHEL                   ', 'RETIRO                        ',
       'TETUAN                        ', 'MONCLOA-ARAVACA               ',
       'CHAMBERI                      ', 'VICALVARO                     ',
       'VILLAVERDE                    ', 'VILLA DE VALLECAS             ',
       'PUENTE DE VALLECAS            ', 'LATINA                        ',
       'BARAJAS                       '], dtype=object)

In [8]:
for col in total_accidents_2018.columns:
    print(total_accidents_2018[col].unique())

['2018-01-01T00:00:00.000000000' '2018-01-02T00:00:00.000000000'
 '2018-01-03T00:00:00.000000000' '2018-01-04T00:00:00.000000000'
 '2018-01-05T00:00:00.000000000' '2018-01-06T00:00:00.000000000'
 '2018-01-07T00:00:00.000000000' '2018-01-08T00:00:00.000000000'
 '2018-01-09T00:00:00.000000000' '2018-01-10T00:00:00.000000000'
 '2018-01-11T00:00:00.000000000' '2018-01-12T00:00:00.000000000'
 '2018-01-13T00:00:00.000000000' '2018-01-14T00:00:00.000000000'
 '2018-01-15T00:00:00.000000000' '2018-01-16T00:00:00.000000000'
 '2018-01-17T00:00:00.000000000' '2018-01-18T00:00:00.000000000'
 '2018-01-19T00:00:00.000000000' '2018-01-20T00:00:00.000000000'
 '2018-01-21T00:00:00.000000000' '2018-01-22T00:00:00.000000000'
 '2018-01-23T00:00:00.000000000' '2018-01-24T00:00:00.000000000'
 '2018-01-25T00:00:00.000000000' '2018-01-26T00:00:00.000000000'
 '2018-01-27T00:00:00.000000000' '2018-01-28T00:00:00.000000000'
 '2018-01-29T00:00:00.000000000' '2018-01-30T00:00:00.000000000'
 '2018-01-31T00:00:00.000000000' '2018-02-01T00:00:00.000000000'
 '2018-02-02T00:00:00.000000000' '2018-02-03T00:00:00.000000000'
 '2018-02-04T00:00:00.000000000' '2018-02-05T00:00:00.000000000'
 '2018-02-06T00:00:00.000000000' '2018-02-07T00:00:00.000000000'
 '2018-02-08T00:00:00.000000000' '2018-02-09T00:00:00.000000000'
 '2018-02-10T00:00:00.000000000' '2018-02-11T00:00:00.000000000'
 '2018-02-12T00:00:00.000000000' '2018-02-13T00:00:00.000000000'
 '2018-02-14T00:00:00.000000000' '2018-02-15T00:00:00.000000000'
 '2018-02-16T00:00:00.000000000' '2018-02-17T00:00:00.000000000'
 '2018-02-18T00:00:00.000000000' '2018-02-19T00:00:00.000000000'
 '2018-02-20T00:00:00.000000000' '2018-02-21T00:00:00.000000000'
 '2018-02-22T00:00:00.000000000' '2018-02-23T00:00:00.000000000'
 '2018-02-24T00:00:00.000000000' '2018-02-25T00:00:00.000000000'
 '2018-02-26T00:00:00.000000000' '2018-02-27T00:00:00.000000000'
 '2018-02-28T00:00:00.000000000' '2018-03-01T00:00:00.000000000'
 '2018-03-02T00:00:00.000000000' '2018-03-03T00:00:00.000000000'
 '2018-03-04T00:00:00.000000000' '2018-03-05T00:00:00.000000000'
 '2018-03-06T00:00:00.000000000' '2018-03-07T00:00:00.000000000'
 '2018-03-08T00:00:00.000000000' '2018-03-09T00:00:00.000000000'
 '2018-03-10T00:00:00.000000000' '2018-03-11T00:00:00.000000000'
 '2018-03-12T00:00:00.000000000' '2018-03-13T00:00:00.000000000'
 '2018-03-14T00:00:00.000000000' '2018-03-15T00:00:00.000000000'
 '2018-03-16T00:00:00.000000000' '2018-03-17T00:00:00.000000000'
 '2018-03-18T00:00:00.000000000' '2018-03-19T00:00:00.000000000'
 '2018-03-20T00:00:00.000000000' '2018-03-21T00:00:00.000000000'
 '2018-03-22T00:00:00.000000000' '2018-03-23T00:00:00.000000000'
 '2018-03-24T00:00:00.000000000' '2018-03-25T00:00:00.000000000'
 '2018-03-26T00:00:00.000000000' '2018-03-27T00:00:00.000000000'
 '2018-03-28T00:00:00.000000000' '2018-03-29T00:00:00.000000000'
 '2018-03-30T00:00:00.000000000' '2018-03-31T00:00:00.000000000'
 '2018-04-01T00:00:00.000000000' '2018-04-02T00:00:00.000000000'
 '2018-04-03T00:00:00.000000000' '2018-04-04T00:00:00.000000000'
 '2018-04-05T00:00:00.000000000' '2018-04-06T00:00:00.000000000'
 '2018-04-07T00:00:00.000000000' '2018-04-08T00:00:00.000000000'
 '2018-04-09T00:00:00.000000000' '2018-04-10T00:00:00.000000000'
 '2018-04-11T00:00:00.000000000' '2018-04-12T00:00:00.000000000'
 '2018-04-13T00:00:00.000000000' '2018-04-14T00:00:00.000000000'
 '2018-04-15T00:00:00.000000000' '2018-04-16T00:00:00.000000000'
 '2018-04-17T00:00:00.000000000' '2018-04-18T00:00:00.000000000'
 '2018-04-19T00:00:00.000000000' '2018-04-20T00:00:00.000000000'
 '2018-04-21T00:00:00.000000000' '2018-04-22T00:00:00.000000000'
 '2018-04-23T00:00:00.000000000' '2018-04-24T00:00:00.000000000'
 '2018-04-25T00:00:00.000000000' '2018-04-26T00:00:00.000000000'
 '2018-04-27T00:00:00.000000000' '2018-04-28T00:00:00.000000000'
 '2018-04-29T00:00:00.000000000' '2018-04-30T00:00:00.000000000'
 '2018-05-01T00:00:00.000000000' '2018-05-02T00:00:00.000000000'
 '2018-05-03T00:00:00.000000000' '2018-05-04T00:00:00.000000000'
 '2018-05-05T00:00:00.000000000' '2018-05-06T00:00:00.000000000'
 '2018-05-07T00:00:00.000000000' '2018-05-08T00:00:00.000000000'
 '2018-05-09T00:00:00.000000000' '2018-05-10T00:00:00.000000000'
 '2018-05-11T00:00:00.000000000' '2018-05-12T00:00:00.000000000'
 '2018-05-13T00:00:00.000000000' '2018-05-14T00:00:00.000000000'
 '2018-05-15T00:00:00.000000000' '2018-05-16T00:00:00.000000000'
 '2018-05-17T00:00:00.000000000' '2018-05-18T00:00:00.000000000'
 '2018-05-19T00:00:00.000000000' '2018-05-20T00:00:00.000000000'
 '2018-05-21T00:00:00.000000000' '2018-05-22T00:00:00.000000000'
 '2018-05-23T00:00:00.000000000' '2018-05-24T00:00:00.000000000'
 '2018-05-25T00:00:00.000000000' '2018-05-26T00:00:00.000000000'
 '2018-05-27T00:00:00.000000000' '2018-05-28T00:00:00.000000000'
 '2018-05-29T00:00:00.000000000' '2018-05-30T00:00:00.000000000'
 '2018-05-31T00:00:00.000000000' '2018-06-01T00:00:00.000000000'
 '2018-06-02T00:00:00.000000000' '2018-06-03T00:00:00.000000000'
 '2018-06-04T00:00:00.000000000' '2018-06-05T00:00:00.000000000'
 '2018-06-06T00:00:00.000000000' '2018-06-07T00:00:00.000000000'
 '2018-06-08T00:00:00.000000000' '2018-06-09T00:00:00.000000000'
 '2018-06-10T00:00:00.000000000' '2018-06-11T00:00:00.000000000'
 '2018-06-12T00:00:00.000000000' '2018-06-13T00:00:00.000000000'
 '2018-06-14T00:00:00.000000000' '2018-06-15T00:00:00.000000000'
 '2018-06-16T00:00:00.000000000' '2018-06-17T00:00:00.000000000'
 '2018-06-18T00:00:00.000000000' '2018-06-19T00:00:00.000000000'
 '2018-06-20T00:00:00.000000000' '2018-06-21T00:00:00.000000000'
 '2018-06-22T00:00:00.000000000' '2018-06-23T00:00:00.000000000'
 '2018-06-24T00:00:00.000000000' '2018-06-25T00:00:00.000000000'
 '2018-06-26T00:00:00.000000000' '2018-06-27T00:00:00.000000000'
 '2018-06-28T00:00:00.000000000' '2018-06-29T00:00:00.000000000'
 '2018-06-30T00:00:00.000000000' '2018-07-01T00:00:00.000000000'
 '2018-07-02T00:00:00.000000000' '2018-07-03T00:00:00.000000000'
 '2018-07-04T00:00:00.000000000' '2018-07-05T00:00:00.000000000'
 '2018-07-06T00:00:00.000000000' '2018-07-07T00:00:00.000000000'
 '2018-07-08T00:00:00.000000000' '2018-07-09T00:00:00.000000000'
 '2018-07-10T00:00:00.000000000' '2018-07-11T00:00:00.000000000'
 '2018-07-12T00:00:00.000000000' '2018-07-13T00:00:00.000000000'
 '2018-07-14T00:00:00.000000000' '2018-07-15T00:00:00.000000000'
 '2018-07-16T00:00:00.000000000' '2018-07-17T00:00:00.000000000'
 '2018-07-18T00:00:00.000000000' '2018-07-19T00:00:00.000000000'
 '2018-07-20T00:00:00.000000000' '2018-07-21T00:00:00.000000000'
 '2018-07-22T00:00:00.000000000' '2018-07-23T00:00:00.000000000'
 '2018-07-24T00:00:00.000000000' '2018-07-25T00:00:00.000000000'
 '2018-07-26T00:00:00.000000000' '2018-07-27T00:00:00.000000000'
 '2018-07-28T00:00:00.000000000' '2018-07-29T00:00:00.000000000'
 '2018-07-30T00:00:00.000000000' '2018-07-31T00:00:00.000000000'
 '2018-08-01T00:00:00.000000000' '2018-08-02T00:00:00.000000000'
 '2018-08-03T00:00:00.000000000' '2018-08-04T00:00:00.000000000'
 '2018-08-05T00:00:00.000000000' '2018-08-06T00:00:00.000000000'
 '2018-08-07T00:00:00.000000000' '2018-08-08T00:00:00.000000000'
 '2018-08-09T00:00:00.000000000' '2018-08-10T00:00:00.000000000'
 '2018-08-11T00:00:00.000000000' '2018-08-12T00:00:00.000000000'
 '2018-08-13T00:00:00.000000000' '2018-08-14T00:00:00.000000000'
 '2018-08-15T00:00:00.000000000' '2018-08-16T00:00:00.000000000'
 '2018-08-17T00:00:00.000000000' '2018-08-18T00:00:00.000000000'
 '2018-08-19T00:00:00.000000000' '2018-08-20T00:00:00.000000000'
 '2018-08-21T00:00:00.000000000' '2018-08-22T00:00:00.000000000'
 '2018-08-23T00:00:00.000000000' '2018-08-24T00:00:00.000000000'
 '2018-08-25T00:00:00.000000000' '2018-08-26T00:00:00.000000000'
 '2018-08-27T00:00:00.000000000' '2018-08-28T00:00:00.000000000'
 '2018-08-29T00:00:00.000000000' '2018-08-30T00:00:00.000000000'
 '2018-08-31T00:00:00.000000000' '2018-09-01T00:00:00.000000000'
 '2018-09-02T00:00:00.000000000' '2018-09-03T00:00:00.000000000'
 '2018-09-04T00:00:00.000000000' '2018-09-05T00:00:00.000000000'
 '2018-09-06T00:00:00.000000000' '2018-09-07T00:00:00.000000000'
 '2018-09-08T00:00:00.000000000' '2018-09-09T00:00:00.000000000'
 '2018-09-10T00:00:00.000000000' '2018-09-11T00:00:00.000000000'
 '2018-09-12T00:00:00.000000000' '2018-09-13T00:00:00.000000000'
 '2018-09-14T00:00:00.000000000' '2018-09-15T00:00:00.000000000'
 '2018-09-16T00:00:00.000000000' '2018-09-17T00:00:00.000000000'
 '2018-09-18T00:00:00.000000000' '2018-09-19T00:00:00.000000000'
 '2018-09-20T00:00:00.000000000' '2018-09-21T00:00:00.000000000'
 '2018-09-22T00:00:00.000000000' '2018-09-23T00:00:00.000000000'
 '2018-09-24T00:00:00.000000000' '2018-09-25T00:00:00.000000000'
 '2018-09-26T00:00:00.000000000' '2018-09-27T00:00:00.000000000'
 '2018-09-28T00:00:00.000000000' '2018-09-29T00:00:00.000000000'
 '2018-09-30T00:00:00.000000000' '2018-10-01T00:00:00.000000000'
 '2018-10-02T00:00:00.000000000' '2018-10-03T00:00:00.000000000'
 '2018-10-04T00:00:00.000000000' '2018-10-05T00:00:00.000000000'
 '2018-10-06T00:00:00.000000000' '2018-10-07T00:00:00.000000000'
 '2018-10-08T00:00:00.000000000' '2018-10-09T00:00:00.000000000'
 '2018-10-10T00:00:00.000000000' '2018-10-11T00:00:00.000000000'
 '2018-10-12T00:00:00.000000000' '2018-10-13T00:00:00.000000000'
 '2018-10-14T00:00:00.000000000' '2018-10-15T00:00:00.000000000'
 '2018-10-16T00:00:00.000000000' '2018-10-17T00:00:00.000000000'
 '2018-10-18T00:00:00.000000000' '2018-10-19T00:00:00.000000000'
 '2018-10-20T00:00:00.000000000' '2018-10-21T00:00:00.000000000'
 '2018-10-22T00:00:00.000000000' '2018-10-23T00:00:00.000000000'
 '2018-10-24T00:00:00.000000000' '2018-10-25T00:00:00.000000000'
 '2018-10-26T00:00:00.000000000' '2018-10-27T00:00:00.000000000'
 '2018-10-28T00:00:00.000000000' '2018-10-29T00:00:00.000000000'
 '2018-10-30T00:00:00.000000000' '2018-10-31T00:00:00.000000000'
 '2018-11-01T00:00:00.000000000' '2018-11-02T00:00:00.000000000'
 '2018-11-03T00:00:00.000000000' '2018-11-04T00:00:00.000000000'
 '2018-11-05T00:00:00.000000000' '2018-11-06T00:00:00.000000000'
 '2018-11-07T00:00:00.000000000' '2018-11-08T00:00:00.000000000'
 '2018-11-09T00:00:00.000000000' '2018-11-10T00:00:00.000000000'
 '2018-11-11T00:00:00.000000000' '2018-11-12T00:00:00.000000000'
 '2018-11-13T00:00:00.000000000' '2018-11-14T00:00:00.000000000'
 '2018-11-15T00:00:00.000000000' '2018-11-16T00:00:00.000000000'
 '2018-11-17T00:00:00.000000000' '2018-11-18T00:00:00.000000000'
 '2018-11-19T00:00:00.000000000' '2018-11-20T00:00:00.000000000'
 '2018-11-21T00:00:00.000000000' '2018-11-22T00:00:00.000000000'
 '2018-11-23T00:00:00.000000000' '2018-11-24T00:00:00.000000000'
 '2018-11-25T00:00:00.000000000' '2018-11-26T00:00:00.000000000'
 '2018-11-27T00:00:00.000000000' '2018-11-28T00:00:00.000000000'
 '2018-11-29T00:00:00.000000000' '2018-11-30T00:00:00.000000000'
 '2018-12-01T00:00:00.000000000' '2018-12-02T00:00:00.000000000'
 '2018-12-03T00:00:00.000000000' '2018-12-04T00:00:00.000000000'
 '2018-12-05T00:00:00.000000000' '2018-12-06T00:00:00.000000000'
 '2018-12-07T00:00:00.000000000' '2018-12-08T00:00:00.000000000'
 '2018-12-09T00:00:00.000000000' '2018-12-10T00:00:00.000000000'
 '2018-12-11T00:00:00.000000000' '2018-12-12T00:00:00.000000000'
 '2018-12-13T00:00:00.000000000' '2018-12-14T00:00:00.000000000'
 '2018-12-15T00:00:00.000000000' '2018-12-16T00:00:00.000000000'
 '2018-12-17T00:00:00.000000000' '2018-12-18T00:00:00.000000000'
 '2018-12-19T00:00:00.000000000' '2018-12-20T00:00:00.000000000'
 '2018-12-21T00:00:00.000000000' '2018-12-22T00:00:00.000000000'
 '2018-12-23T00:00:00.000000000' '2018-12-24T00:00:00.000000000'
 '2018-12-25T00:00:00.000000000' '2018-12-26T00:00:00.000000000'
 '2018-12-27T00:00:00.000000000' '2018-12-28T00:00:00.000000000'
 '2018-12-29T00:00:00.000000000' '2018-12-30T00:00:00.000000000'
 '2018-12-31T00:00:00.000000000']
['DE 00:00 A 00:59' 'DE 1:00 A 1:59' 'DE 6:00 A 6:59' 'DE 13:00 A 13:59'
 'DE 15:00 A 15:59' 'DE 18:00 A 18:59' 'DE 19:00 A 19:59'
 'DE 21:00 A 21:59' 'DE 12:00 A 12:59' 'DE 14:00 A 14:59'
 'DE 16:00 A 16:59' 'DE 17:00 A 17:59' 'DE 20:00 A 20:59' 'DE 4:00 A 4:59'
 'DE 7:00 A 7:59' 'DE 9:00 A 9:59' 'DE 11:00 A 11:59' 'DE 22:00 A 22:59'
 'DE 23:00 A 23:59' 'DE 5:00 A 5:59' 'DE 8:00 A 8:59' 'DE 10:00 A 10:59'
 'DE 2:00 A 2:59' 'DE 3:00 A 3:59']
['LUNES' 'MARTES' 'MIERCOLES' 'JUEVES' 'VIERNES' 'SABADO' 'DOMINGO']
['USERA                         ' 'HORTALEZA                     '
 'SAN BLAS                      ' 'CIUDAD LINEAL                 '
 'FUENCARRAL-EL PARDO           ' 'MORATALAZ                     '
 'ARGANZUELA                    ' 'CENTRO                        '
 'SALAMANCA                     ' 'CHAMARTIN                     '
 'CARABANCHEL                   ' 'RETIRO                        '
 'TETUAN                        ' 'MONCLOA-ARAVACA               '
 'CHAMBERI                      ' 'VICALVARO                     '
 'VILLAVERDE                    ' 'VILLA DE VALLECAS             '
 'PUENTE DE VALLECAS            ' 'LATINA                        '
 'BARAJAS                       ']
['CALLE DE SAN BASILIO - CALLE DEL CRISTO DE LA VICTORIA                                              '
 'AVENIDA DE FRANCISCO PI Y MARGALL - AVENIDA DE NICETO ALCALA ZAMORA                                 '
 'AVENIDA DE CANILLEJAS A VICALVARO - CALLE DE ALCALA                                                 '
 ...
 'CALLE DE ROMEO Y JULIETA - PARQUE DE PALOMERAS BAJAS                                                '
 "CARRETERA DE ACCESO A LA ESTACION DE O'DONNELL - CALLE DE PIRRA                                     "
 'CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SILVANO                                                 ']
[0 '          ' 32 44 4700 4300 19 1 139 27 6 2 3 12 195 7100 24 142 278
 15 4 5 102 35 7 51 33 111 84 19000 28 97 21300 14 10 5000 14000 36 38 30
 17200 75 209 11800 31400 16 112 14400 8100 85 50 67 9100 40 20500 56 17
 6000 134 43 12200 20300 3700 16500 118 59 23000 165 22800 23 96 91 98 105
 800 19400 89 72 131 1500 611 264 6200 307 4100 25 30700 500 23700 140 101
 8700 90 201 3400 6500 15800 30800 10400 8900 29 146 160 10300 10200 204
 79 31000 10600 61 246 6600 22 45 126 52 253 39 18 306 77 29000 48 49 53
 66 654 31 65 11600 7000 203 295 37 2000 74 291 249 46 80 116 145 177 452
 47 26 4000 60 42 4200 6400 2900 62 104 69 10900 3800 132 9 4400 108 2400
 1800 17700 413 92 8400 182 154 600 211 12000 87 76 10500 8800 302 11 100
 6100 11300 390 8 138 179 144 1000 200 158 17300 233 31100 21 447 13000 83
 58 26000 137 7600 284 123 34 9500 176 3500 210 10000 32700 199 638 124
 216 226 8200 20 300 400 63 319 193 332 900 9000 432 54 4500 5700 6700 129
 130 64 8500 99 11000 728 181 114 13 147 28700 30100 163 353 68 172 5900
 712 2500 55 3000 256 107 340 8600 20000 94 642 5800 86 270 8300 125 41 57
 194 534 121 183 480 259 5500 359 244 7500 11900 32000 149 13700 71 6300
 229 70 78 315 133 220 341 227 168 24500 10700 322 377 260 297 700 1300
 12800 32100 22400 136 1200 11200 153 7900 106 109 14300 373 12600 11100
 93 120 348 81 329 171 4600 236 9200 188 380 122 95 540 23100 150 88 7800
 232 5300 202 2800 82 167 198 20200 625 7200 31500 166 15100 240 6800
 31600 113 248 73 23200 7300 30300 344 16000 285 212 237 492 15600 14900
 30600 115 231 29100 28300 208 304 2700 3600 14100 5100 17400 8000 19300
 254 215 9800 387 454 164 275 31700 29400 21600 213 28800 280 11400 448
 573 7700 192 30200 321 632 710 30000 640 20900 173 190 155 522 222 5200
 279 10100 31900 151 546 4800 1700 169 265 251 180 29500 5600 119 178 184
 346 13500 401 5850 218 170 596 175 31800 9400 4900 7400 189 103 2200 718
 187 298 17100 15300 17600 268 23800 207 631 152 23900 224 395 13800 19900
 12100 352 406 159 25300 110 157 702 375 30500 228 205 5400 250 3300 391
 257 217 196 191 15000 320 225 24400 294 20800 28000 288 161 135 9900 3650
 18200 21700 186 296 308 283 579 371 289 214 174 156 10800 12300 12500 457
 128 21900 22700 2600 14200 594 53200 527 364 117 325 13200 14500 277
 21200 472 324 261 28900 9600 197 143 148 374 11500 25800 1400 6900 299
 127 467 12400 206 22200 22300 185 239 414 588 25400 575 24200 14800 26300
 15500 16900 274 569 20600 3200 15200 141 1100 2300 311 3900 385 271 316
 487 330 411 162 15700 31300 30400 334 622 305 425 20100 22900 21400 252
 314 402 13600 20700 27000 292 19800 634 318 26600 351 412 24000 221 355
 15900]
['2018/1' '2018/3' '2018/9' ... '2019/32' '2019/18' '2019/53']
['NO' 'SI']
['NO' 'SI']
['NO' 'SI']
['NO' 'SI']
['SI' 'NO']
['NO' 'SI']
['NO' 'SI']
['NO' 'SI']
['NO' 'SI']
['NO' 'SI']
['NO' 'SI']
['SI' 'NO']
[ 1  3  2  4  5  6  7 19 10 12 15 18  9  8]
['ATROPELLO                               '
 'CHOQUE CON OBJETO FIJO                  '
 'COLISIÓN DOBLE                          '
 'CAÍDA MOTOCICLETA                       '
 'COLISIÓN MÚLTIPLE                       '
 'CAÍDA VIAJERO BUS                       '
 'CAÍDA CICLOMOTOR                        '
 'OTRAS CAUSAS                            '
 'CAÍDA BICICLETA                         '
 'VUELCO                                  '
 'CAÍDA VEHÍCULO 3 RUEDAS                 ']
['NO ASIGNADO' 'TURISMO                                 '
 'AUTO-TAXI                               '
 'BICICLETA                               '
 'MOTOCICLETA                             '
 'CICLOMOTOR                              '
 'FURGONETA                               '
 'CAMION                                  '
 'AUTOBUS-AUTOCAR                         '
 'VEH.3 RUEDAS                            '
 'AMBULANCIA                              '
 'VARIOS                                  ']
['PEATON                                  '
 'TESTIGO                                 ' 'CONDUCTOR'
 'VIAJERO                                 ']
['HOMBRE' 'MUJER' 'NO ASIGNADO']
['HG                                      '
 'IL                                      '
 'HL                                      ' 'NO ASIGNADA'
 'MT                                      ']
['DE 15 A 17 AÑOS' 'DE 30 A 34 ANOS' 'DE 35 A 39 AÑOS' 'DE 21 A 24 AÑOS'
 'DE 40 A 44 AÑOS' 'DE 25 A 29 AÑOS' 'DE 50 A 54 AÑOS' 'DE 60 A 64 AÑOS'
 'DESCONOCIDA' 'DE MAS DE 74 AÑOS ' 'DE 55 A 59 AÑOS' 'DE 70 A 74 AÑOS'
 'DE 45 A 49 AÑOS' 'DE 10 A 14 AÑOS' 'DE 65 A 69 AÑOS' 'DE 0 A 5 AÑOS'
 'DE 18 A 20 AÑOS' 'DE 6 A 9 AÑOS ']

In [9]:
total_accidents_2017 = pd.read_excel('./files_for_lab/2017_Accidentalidad.xlsx')
total_accidents_2017

,FECHA,RANGO HORARIO,DIA SEMANA,DISTRITO,LUGAR ACCIDENTE,Nº,Nº PARTE,CPFA Granizo,CPFA Hielo,CPFA Lluvia,...,CPSV Grava Suelta,CPSV Hielo,CPSV Seca Y Limpia,Nº VICTIMAS,TIPO ACCIDENTE,Tipo Vehiculo,TIPO PERSONA,SEXO,LESIVIDAD,Tramo Edad
0,2017-01-01,DE 1:00 A 1:59,DOMINGO,VILLA DE VALLECAS,AVENIDA DEL MAYORAZGO NUM ...,26,2017/76,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,FURGONETA,CONDUCTOR,HOMBRE,IL,DE 25 A 29 AÑOS
1,2017-01-01,DE 1:00 A 1:59,DOMINGO,VILLA DE VALLECAS,AVENIDA DEL MAYORAZGO NUM ...,26,2017/76,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,FURGONETA,CONDUCTOR,MUJER,HL,DE 30 A 34 ANOS
2,2017-01-01,DE 2:00 A 2:59,DOMINGO,VILLAVERDE,CALLE DE SANTA JOAQUINA DE VEDRUNA NUM ...,3,2017/1,NO,NO,NO,...,NO,NO,SI,1,CHOQUE CON OBJETO FIJO,TURISMO,CONDUCTOR,HOMBRE,HG,DE 21 A 24 AÑOS
3,2017-01-01,DE 5:00 A 5:59,DOMINGO,ARGANZUELA,CALLE 30 15RA KM. ...,30,2017/30,NO,NO,NO,...,NO,NO,SI,1,CHOQUE CON OBJETO FIJO,TURISMO,CONDUCTOR,MUJER,HL,DE 45 A 49 AÑOS
4,2017-01-01,DE 5:00 A 5:59,DOMINGO,ARGANZUELA,CALLE 30 15RA KM. ...,30,2017/30,NO,NO,NO,...,NO,NO,SI,1,CHOQUE CON OBJETO FIJO,TURISMO,VIAJERO,MUJER,IL,DE 10 A 14 AÑOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29790,2017-12-31,DE 18:00 A 18:59,DOMINGO,TETUAN,PASEO DE LA CASTELLANA - PLAZA DE LIMA ...,0,2018/307,NO,NO,SI,...,NO,NO,NO,1,ATROPELLO,TURISMO,CONDUCTOR,HOMBRE,IL,DE 65 A 69 AÑOS
29791,2017-12-31,DE 18:00 A 18:59,DOMINGO,TETUAN,PASEO DE LA CASTELLANA - PLAZA DE LIMA ...,0,2018/307,NO,NO,SI,...,NO,NO,NO,1,ATROPELLO,AUTOBUS-AUTOCAR,CONDUCTOR,HOMBRE,IL,DE 35 A 39 AÑOS
29792,2017-12-31,DE 21:00 A 21:59,DOMINGO,CHAMBERI,PASEO DE EDUARDO DATO NUM ...,2,2018/19,NO,NO,SI,...,NO,NO,NO,1,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 45 A 49 AÑOS
29793,2017-12-31,DE 21:00 A 21:59,DOMINGO,CHAMBERI,PASEO DE EDUARDO DATO NUM ...,2,2018/19,NO,NO,SI,...,NO,NO,NO,1,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,MUJER,IL,DE 45 A 49 AÑOS
29794,2017-12-31,DE 21:00 A 21:59,DOMINGO,CHAMBERI,PASEO DE EDUARDO DATO NUM ...,2,2018/19,NO,NO,SI,...,NO,NO,NO,1,COLISIÓN MÚLTIPLE,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 21 A 24 AÑOS

In [10]:
total_accidents_2016 = pd.read_excel('./files_for_lab/2016_Accidentalidad.xlsx')
total_accidents_2016

,FECHA,RANGO HORARIO,DIA SEMANA,DISTRITO,LUGAR ACCIDENTE,Nº,Nº PARTE,CPFA Granizo,CPFA Hielo,CPFA Lluvia,...,CPSV Grava Suelta,CPSV Hielo,CPSV Seca Y Limpia,Nº VICTIMAS,TIPO ACCIDENTE,Tipo Vehiculo,TIPO PERSONA,SEXO,LESIVIDAD,Tramo Edad
0,2016-01-01,DE 00:00 A 00:59,VIERNES,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,NO,NO,NO,...,NO,NO,SI,4,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 6 A 9 AÑOS
1,2016-01-01,DE 00:00 A 00:59,VIERNES,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,NO,NO,NO,...,NO,NO,SI,4,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 40 A 44 AÑOS
2,2016-01-01,DE 00:00 A 00:59,VIERNES,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,NO,NO,NO,...,NO,NO,SI,4,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 35 A 39 AÑOS
3,2016-01-01,DE 00:00 A 00:59,VIERNES,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,NO,NO,NO,...,NO,NO,SI,4,ATROPELLO,NO ASIGNADO,PEATON,MUJER,HL,DE 35 A 39 AÑOS
4,2016-01-01,DE 00:00 A 00:59,VIERNES,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,NO,NO,NO,...,NO,NO,SI,4,ATROPELLO,NO ASIGNADO,TESTIGO,MUJER,IL,DE 40 A 44 AÑOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29196,2016-12-31,DE 18:00 A 18:59,SABADO,MORATALAZ,AVENIDA DEL DOCTOR GARCIA TAPIA NUM ...,232,2017/49,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,NO ASIGNADO,NO ASIGNADA,DESCONOCIDA
29197,2016-12-31,DE 18:00 A 18:59,SABADO,MORATALAZ,AVENIDA DEL DOCTOR GARCIA TAPIA NUM ...,232,2017/49,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,BICICLETA,CONDUCTOR,MUJER,HL,DE 6 A 9 AÑOS
29198,2016-12-31,DE 20:00 A 20:59,SABADO,CARABANCHEL,CALLE DE EUGENIA DE MONTIJO NUM ...,83,2017/14,NO,NO,NO,...,NO,NO,SI,1,CAÍDA MOTOCICLETA,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 21 A 24 AÑOS
29199,2016-12-31,DE 23:00 A 23:59,SABADO,MONCLOA-ARAVACA,PASEO DEL PINTOR ROSALES NUM ...,44,2017/35,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 21 A 24 AÑOS
29200,2016-12-31,DE 23:00 A 23:59,SABADO,MONCLOA-ARAVACA,PASEO DEL PINTOR ROSALES NUM ...,44,2017/35,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 40 A 44 AÑOS

In [11]:
def clean_file(row):
    #Changing headers names
    cols1 = []
    for column in row.columns:
        new_column_name = column.replace(' ', '_')
        new_column_name = new_column_name.replace('º', 'ro')
        cols1.append(new_column_name.lower())
    row.columns = cols1
    # I'm going to clean this columns because all values have spaces at the start and at the end
    list_to_clean = ['distrito', 'lugar_accidente', 'tipo_accidente', 'tipo_vehiculo', 'tipo_persona', 'lesividad']
    for column in list_to_clean:
        for i in range(len(row['lesividad'])):
            row[column][i] = str(row[column][i])
            row[column][i] = row[column][i].strip()
    row = row.reset_index(drop = True)
    # I don't need witness("TESTIGO") because i want statistics about people who was involved into the accident
    row = row.drop(row[row['tipo_persona']=='TESTIGO'].index)
    row = row.reset_index(drop = True)
    return row

In [12]:
total_accidents_2018['DIA SEMANA'].value_counts()

VIERNES      5308
MIERCOLES    4660
MARTES       4570
JUEVES       4480
LUNES        4430
SABADO       3463
DOMINGO      3211
Name: DIA SEMANA, dtype: int64

In [13]:
total_accidents_2016['TIPO PERSONA'].value_counts()

CONDUCTOR                                   18575
VIAJERO                                      5189
TESTIGO                                      3724
PEATON                                       1713
Name: TIPO PERSONA, dtype: int64

In [14]:
clean_2016 = clean_file(total_accidents_2016)
clean_2016

<ipython-input-11-dc4b31b9055a>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[column][i] = str(row[column][i])
<ipython-input-11-dc4b31b9055a>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[column][i] = row[column][i].strip()

,fecha,rango_horario,dia_semana,distrito,lugar_accidente,nro,nro_parte,cpfa_granizo,cpfa_hielo,cpfa_lluvia,...,cpsv_grava_suelta,cpsv_hielo,cpsv_seca_y_limpia,nro_victimas,tipo_accidente,tipo_vehiculo,tipo_persona,sexo,lesividad,tramo_edad
0,2016-01-01,DE 00:00 A 00:59,VIERNES,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,NO,NO,NO,...,NO,NO,SI,4,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 6 A 9 AÑOS
1,2016-01-01,DE 00:00 A 00:59,VIERNES,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,NO,NO,NO,...,NO,NO,SI,4,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 40 A 44 AÑOS
2,2016-01-01,DE 00:00 A 00:59,VIERNES,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,NO,NO,NO,...,NO,NO,SI,4,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 35 A 39 AÑOS
3,2016-01-01,DE 00:00 A 00:59,VIERNES,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,NO,NO,NO,...,NO,NO,SI,4,ATROPELLO,NO ASIGNADO,PEATON,MUJER,HL,DE 35 A 39 AÑOS
4,2016-01-01,DE 00:00 A 00:59,VIERNES,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,NO,NO,NO,...,NO,NO,SI,4,ATROPELLO,TURISMO,CONDUCTOR,HOMBRE,IL,DE 30 A 34 ANOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25472,2016-12-31,DE 18:00 A 18:59,SABADO,MORATALAZ,AVENIDA DEL DOCTOR GARCIA TAPIA NUM,232,2017/49,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,NO ASIGNADO,NO ASIGNADA,DESCONOCIDA
25473,2016-12-31,DE 18:00 A 18:59,SABADO,MORATALAZ,AVENIDA DEL DOCTOR GARCIA TAPIA NUM,232,2017/49,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,BICICLETA,CONDUCTOR,MUJER,HL,DE 6 A 9 AÑOS
25474,2016-12-31,DE 20:00 A 20:59,SABADO,CARABANCHEL,CALLE DE EUGENIA DE MONTIJO NUM,83,2017/14,NO,NO,NO,...,NO,NO,SI,1,CAÍDA MOTOCICLETA,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 21 A 24 AÑOS
25475,2016-12-31,DE 23:00 A 23:59,SABADO,MONCLOA-ARAVACA,PASEO DEL PINTOR ROSALES NUM,44,2017/35,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 21 A 24 AÑOS
25476,2016-12-31,DE 23:00 A 23:59,SABADO,MONCLOA-ARAVACA,PASEO DEL PINTOR ROSALES NUM,44,2017/35,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 40 A 44 AÑOS

In [15]:
total_accidents_2017['TIPO PERSONA'].value_counts()

CONDUCTOR                                   19105
VIAJERO                                      5304
TESTIGO                                      3699
PEATON                                       1687
Name: TIPO PERSONA, dtype: int64

In [16]:
clean_2017 = clean_file(total_accidents_2017)
clean_2017

<ipython-input-11-dc4b31b9055a>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[column][i] = str(row[column][i])
<ipython-input-11-dc4b31b9055a>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[column][i] = row[column][i].strip()

,fecha,rango_horario,dia_semana,distrito,lugar_accidente,nro,nro_parte,cpfa_granizo,cpfa_hielo,cpfa_lluvia,...,cpsv_grava_suelta,cpsv_hielo,cpsv_seca_y_limpia,nro_victimas,tipo_accidente,tipo_vehiculo,tipo_persona,sexo,lesividad,tramo_edad
0,2017-01-01,DE 1:00 A 1:59,DOMINGO,VILLA DE VALLECAS,AVENIDA DEL MAYORAZGO NUM,26,2017/76,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,FURGONETA,CONDUCTOR,HOMBRE,IL,DE 25 A 29 AÑOS
1,2017-01-01,DE 1:00 A 1:59,DOMINGO,VILLA DE VALLECAS,AVENIDA DEL MAYORAZGO NUM,26,2017/76,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,FURGONETA,CONDUCTOR,MUJER,HL,DE 30 A 34 ANOS
2,2017-01-01,DE 2:00 A 2:59,DOMINGO,VILLAVERDE,CALLE DE SANTA JOAQUINA DE VEDRUNA NUM,3,2017/1,NO,NO,NO,...,NO,NO,SI,1,CHOQUE CON OBJETO FIJO,TURISMO,CONDUCTOR,HOMBRE,HG,DE 21 A 24 AÑOS
3,2017-01-01,DE 5:00 A 5:59,DOMINGO,ARGANZUELA,CALLE 30 15RA KM.,30,2017/30,NO,NO,NO,...,NO,NO,SI,1,CHOQUE CON OBJETO FIJO,TURISMO,CONDUCTOR,MUJER,HL,DE 45 A 49 AÑOS
4,2017-01-01,DE 5:00 A 5:59,DOMINGO,ARGANZUELA,CALLE 30 15RA KM.,30,2017/30,NO,NO,NO,...,NO,NO,SI,1,CHOQUE CON OBJETO FIJO,TURISMO,VIAJERO,MUJER,IL,DE 10 A 14 AÑOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26091,2017-12-31,DE 18:00 A 18:59,DOMINGO,TETUAN,PASEO DE LA CASTELLANA - PLAZA DE LIMA,0,2018/307,NO,NO,SI,...,NO,NO,NO,1,ATROPELLO,TURISMO,CONDUCTOR,HOMBRE,IL,DE 65 A 69 AÑOS
26092,2017-12-31,DE 18:00 A 18:59,DOMINGO,TETUAN,PASEO DE LA CASTELLANA - PLAZA DE LIMA,0,2018/307,NO,NO,SI,...,NO,NO,NO,1,ATROPELLO,AUTOBUS-AUTOCAR,CONDUCTOR,HOMBRE,IL,DE 35 A 39 AÑOS
26093,2017-12-31,DE 21:00 A 21:59,DOMINGO,CHAMBERI,PASEO DE EDUARDO DATO NUM,2,2018/19,NO,NO,SI,...,NO,NO,NO,1,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 45 A 49 AÑOS
26094,2017-12-31,DE 21:00 A 21:59,DOMINGO,CHAMBERI,PASEO DE EDUARDO DATO NUM,2,2018/19,NO,NO,SI,...,NO,NO,NO,1,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,MUJER,IL,DE 45 A 49 AÑOS
26095,2017-12-31,DE 21:00 A 21:59,DOMINGO,CHAMBERI,PASEO DE EDUARDO DATO NUM,2,2018/19,NO,NO,SI,...,NO,NO,NO,1,COLISIÓN MÚLTIPLE,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 21 A 24 AÑOS

In [17]:
clean_2018 = clean_file(total_accidents_2018)
clean_2018

<ipython-input-11-dc4b31b9055a>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[column][i] = str(row[column][i])
<ipython-input-11-dc4b31b9055a>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[column][i] = row[column][i].strip()

,fecha,rango_horario,dia_semana,distrito,lugar_accidente,nro,nro_parte,cpfa_granizo,cpfa_hielo,cpfa_lluvia,...,cpsv_grava_suelta,cpsv_hielo,cpsv_seca_y_limpia,nro_victimas,tipo_accidente,tipo_vehiculo,tipo_persona,sexo,lesividad,tramo_edad
0,2018-01-01,DE 00:00 A 00:59,LUNES,USERA,CALLE DE SAN BASILIO - CALLE DEL CRISTO DE LA ...,0,2018/1,NO,NO,NO,...,NO,NO,SI,1,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HG,DE 15 A 17 AÑOS
1,2018-01-01,DE 00:00 A 00:59,LUNES,USERA,CALLE DE SAN BASILIO - CALLE DEL CRISTO DE LA ...,0,2018/1,NO,NO,NO,...,NO,NO,SI,1,ATROPELLO,TURISMO,CONDUCTOR,HOMBRE,IL,DE 35 A 39 AÑOS
2,2018-01-01,DE 1:00 A 1:59,LUNES,HORTALEZA,AVENIDA DE FRANCISCO PI Y MARGALL - AVENIDA DE...,,2018/3,NO,NO,NO,...,NO,NO,SI,1,CHOQUE CON OBJETO FIJO,TURISMO,CONDUCTOR,HOMBRE,IL,DE 21 A 24 AÑOS
3,2018-01-01,DE 1:00 A 1:59,LUNES,HORTALEZA,AVENIDA DE FRANCISCO PI Y MARGALL - AVENIDA DE...,,2018/3,NO,NO,NO,...,NO,NO,SI,1,CHOQUE CON OBJETO FIJO,TURISMO,VIAJERO,HOMBRE,HG,DE 21 A 24 AÑOS
4,2018-01-01,DE 1:00 A 1:59,LUNES,SAN BLAS,AVENIDA DE CANILLEJAS A VICALVARO - CALLE DE A...,0,2018/9,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 25 A 29 AÑOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26458,2018-12-31,DE 21:00 A 21:59,LUNES,SALAMANCA,CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA,0,2019/18,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,TURISMO,VIAJERO,HOMBRE,IL,DE 30 A 34 ANOS
26459,2018-12-31,DE 21:00 A 21:59,LUNES,SALAMANCA,CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA,0,2019/18,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,AUTO-TAXI,CONDUCTOR,HOMBRE,IL,DE 40 A 44 AÑOS
26460,2018-12-31,DE 23:00 A 23:59,LUNES,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,2019/53,NO,NO,NO,...,NO,NO,SI,1,OTRAS CAUSAS,TURISMO,CONDUCTOR,MUJER,IL,DE 21 A 24 AÑOS
26461,2018-12-31,DE 23:00 A 23:59,LUNES,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,2019/53,NO,NO,NO,...,NO,NO,SI,1,OTRAS CAUSAS,TURISMO,CONDUCTOR,HOMBRE,HL,DE 50 A 54 AÑOS
26462,2018-12-31,DE 23:00 A 23:59,LUNES,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,2019/53,NO,NO,NO,...,NO,NO,SI,1,OTRAS CAUSAS,TURISMO,CONDUCTOR,NO ASIGNADO,NO ASIGNADA,DESCONOCIDA

In [25]:
total_accidents =pd.concat([clean_2016, clean_2017, clean_2018], axis =0)

In [26]:
total_accidents = total_accidents.reset_index(drop = True)

In [27]:
total_accidents

,fecha,rango_horario,dia_semana,distrito,lugar_accidente,nro,nro_parte,cpfa_granizo,cpfa_hielo,cpfa_lluvia,...,cpsv_grava_suelta,cpsv_hielo,cpsv_seca_y_limpia,nro_victimas,tipo_accidente,tipo_vehiculo,tipo_persona,sexo,lesividad,tramo_edad
0,2016-01-01,DE 00:00 A 00:59,VIERNES,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,NO,NO,NO,...,NO,NO,SI,4,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 6 A 9 AÑOS
1,2016-01-01,DE 00:00 A 00:59,VIERNES,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,NO,NO,NO,...,NO,NO,SI,4,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 40 A 44 AÑOS
2,2016-01-01,DE 00:00 A 00:59,VIERNES,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,NO,NO,NO,...,NO,NO,SI,4,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 35 A 39 AÑOS
3,2016-01-01,DE 00:00 A 00:59,VIERNES,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,NO,NO,NO,...,NO,NO,SI,4,ATROPELLO,NO ASIGNADO,PEATON,MUJER,HL,DE 35 A 39 AÑOS
4,2016-01-01,DE 00:00 A 00:59,VIERNES,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,NO,NO,NO,...,NO,NO,SI,4,ATROPELLO,TURISMO,CONDUCTOR,HOMBRE,IL,DE 30 A 34 ANOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78031,2018-12-31,DE 21:00 A 21:59,LUNES,SALAMANCA,CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA,0,2019/18,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,TURISMO,VIAJERO,HOMBRE,IL,DE 30 A 34 ANOS
78032,2018-12-31,DE 21:00 A 21:59,LUNES,SALAMANCA,CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA,0,2019/18,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,AUTO-TAXI,CONDUCTOR,HOMBRE,IL,DE 40 A 44 AÑOS
78033,2018-12-31,DE 23:00 A 23:59,LUNES,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,2019/53,NO,NO,NO,...,NO,NO,SI,1,OTRAS CAUSAS,TURISMO,CONDUCTOR,MUJER,IL,DE 21 A 24 AÑOS
78034,2018-12-31,DE 23:00 A 23:59,LUNES,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,2019/53,NO,NO,NO,...,NO,NO,SI,1,OTRAS CAUSAS,TURISMO,CONDUCTOR,HOMBRE,HL,DE 50 A 54 AÑOS
78035,2018-12-31,DE 23:00 A 23:59,LUNES,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,2019/53,NO,NO,NO,...,NO,NO,SI,1,OTRAS CAUSAS,TURISMO,CONDUCTOR,NO ASIGNADO,NO ASIGNADA,DESCONOCIDA

In [28]:
def translate(row):
    row = row.rename(columns={"fecha": "date", "rango_horario": "hour", "dia_semana": "week_day", "distrito": "district", "lugar_accidente": "street", "nro": "number", "nro_parte": "id_accident", "cpfa_granizo": "ac_hail", "cpfa_hielo": "ac_ice", "cpfa_lluvia": "ac_rain", "cpfa_niebla": "ac_fog", "cpfa_seco": "ac_dry", "cpfa_nieve": "ac_snow", "cpsv_mojada": "wet", "cpsv_aceite": "oil", "cpsv_barro": "mud", "cpsv_grava_suelta": "gravel", "cpsv_hielo": "ice", "cpsv_seca_y_limpia": "dry_and_clean", "nro_victimas": "number_of_victims", "tipo_accidente": "type_of_accident", "tipo_vehiculo": "vehicle", "tipo_persona": "type_of_person", "sexo": "gender", "lesividad": "gravity", "tramo_edad": "age"})
    pattern = 'DE '
    pattern1 = ' A '
    for i in range(len(row['hour'])):
        row['hour'][i] = re.sub(pattern, '',row['hour'][i])
        row['hour'][i] = re.sub(pattern1, '-',row['hour'][i])
    #row['hour'] = row['hour'].replace("DE","BETWEEN")
    #row['hour'] = row['hour'].replace("A","AND")
    row['week_day'] = row['week_day'].replace("LUNES","Monday")
    row['week_day'] = row['week_day'].replace("MARTES","Tuesday")
    row['week_day'] = row['week_day'].replace("MIERCOLES","Wednesday")
    row['week_day'] = row['week_day'].replace("JUEVES","Thursday")
    row['week_day'] = row['week_day'].replace("VIERNES","Friday")
    row['week_day'] = row['week_day'].replace("SABADO","Saturday")
    row['week_day'] = row['week_day'].replace("DOMINGO","Sunday")
    #I'm going to transform all this columns to numerical columns with a 0 if the answer is No and 1 if it is yes, and then i can sum the yes in tableau and obtain the different quantity of causes. 
    row['ac_hail'] = row['ac_hail'].replace("SI","1")
    row['ac_ice'] = row['ac_ice'].replace("SI","1")
    row['ac_rain'] = row['ac_rain'].replace("SI","1")
    row['ac_fog'] = row['ac_fog'].replace("SI","1")
    row['ac_dry'] = row['ac_dry'].replace("SI","1")
    row['ac_snow'] = row['ac_snow'].replace("SI","1")
    row['wet'] = row['wet'].replace("SI","1")
    row['oil'] = row['oil'].replace("SI","1")
    row['mud'] = row['mud'].replace("SI","1")
    row['gravel'] = row['gravel'].replace("SI","1")
    row['ice'] = row['ice'].replace("SI","1")
    row['dry_and_clean'] = row['dry_and_clean'].replace("SI","1")
    row['ac_hail'] = row['ac_hail'].replace("NO","0")
    row['ac_ice'] = row['ac_ice'].replace("NO","0")
    row['ac_rain'] = row['ac_rain'].replace("NO","0")
    row['ac_fog'] = row['ac_fog'].replace("NO","0")
    row['ac_dry'] = row['ac_dry'].replace("NO","0")
    row['ac_snow'] = row['ac_snow'].replace("NO","0")
    row['wet'] = row['wet'].replace("NO","0")
    row['oil'] = row['oil'].replace("NO","0")
    row['mud'] = row['mud'].replace("NO","0")
    row['gravel'] = row['gravel'].replace("NO","0")
    row['ice'] = row['ice'].replace("NO","0")
    row['dry_and_clean'] = row['dry_and_clean'].replace("NO","0")
    row['ac_hail'] = pd.to_numeric(row['ac_hail'])
    row['ac_ice'] = pd.to_numeric(row['ac_ice'])
    row['ac_rain'] = pd.to_numeric(row['ac_rain'])
    row['ac_fog'] = pd.to_numeric(row['ac_fog'])
    row['ac_dry'] = pd.to_numeric(row['ac_dry'])
    row['ac_snow'] = pd.to_numeric(row['ac_snow'])
    row['wet'] = pd.to_numeric(row['wet'])
    row['oil'] = pd.to_numeric(row['oil'])
    row['mud'] = pd.to_numeric(row['mud'])
    row['gravel'] = pd.to_numeric(row['gravel'])
    row['ice'] = pd.to_numeric(row['ice'])
    row['dry_and_clean'] = pd.to_numeric(row['dry_and_clean'])
    row['type_of_accident'] = row['type_of_accident'].replace("COLISIÓN DOBLE","multiple crash")
    row['type_of_accident'] = row['type_of_accident'].replace("ATROPELLO","run over")
    row['type_of_accident'] = row['type_of_accident'].replace("COLISIÓN MÚLTIPLE","multiple crash")
    row['type_of_accident'] = row['type_of_accident'].replace("CHOQUE CON OBJETO FIJO","crash with a fixed object")
    row['type_of_accident'] = row['type_of_accident'].replace("CAÍDA MOTOCICLETA","motorcycle crash")
    row['type_of_accident'] = row['type_of_accident'].replace("CAÍDA VIAJERO BUS","other")
    row['type_of_accident'] = row['type_of_accident'].replace("CAÍDA BICICLETA","other")
    row['type_of_accident'] = row['type_of_accident'].replace("CAÍDA CICLOMOTOR","other")
    row['type_of_accident'] = row['type_of_accident'].replace("OTRAS CAUSAS","other")
    row['type_of_accident'] = row['type_of_accident'].replace("VUELCO","other")
    row['type_of_accident'] = row['type_of_accident'].replace("CAÍDA VEHÍCULO 3 RUEDAS","other")
    row['vehicle'] = row['vehicle'].replace("TURISMO","car")
    row['vehicle'] = row['vehicle'].replace("MOTOCICLETA","motorcycle")
    row['vehicle'] = row['vehicle'].replace("NO ASIGNADO","unknown")
    row['vehicle'] = row['vehicle'].replace("FURGONETA","van")
    row['vehicle'] = row['vehicle'].replace("AUTOBUS-AUTOCAR","bus")
    row['vehicle'] = row['vehicle'].replace("AUTO-TAXI","car")
    row['vehicle'] = row['vehicle'].replace("BICICLETA","bycicle")
    row['vehicle'] = row['vehicle'].replace("CICLOMOTOR","other")
    row['vehicle'] = row['vehicle'].replace("CAMION","other")
    row['vehicle'] = row['vehicle'].replace("VARIOS","other")
    row['vehicle'] = row['vehicle'].replace("AMBULANCIA","other")
    row['vehicle'] = row['vehicle'].replace("VEH.3 RUEDAS","other")
    row['type_of_person'] = row['type_of_person'].replace("PEATON","pedestrian")
    row['type_of_person'] = row['type_of_person'].replace("CONDUCTOR","driver")
    row['type_of_person'] = row['type_of_person'].replace("VIAJERO","traveler")
    row['type_of_person'] = row['type_of_person'].replace("PEATON","pedestrian")
    row['gender'] = row['gender'].replace("HOMBRE","male")
    row['gender'] = row['gender'].replace("MUJER","female")
    row['gender'] = row['gender'].replace("NO ASIGNADO","unknown")
    row['gravity'] = row['gravity'].replace("HL","mild injury")
    row['gravity'] = row['gravity'].replace("IL","uninjured")
    row['gravity'] = row['gravity'].replace("NO ASIGNADA","unknown")
    row['gravity'] = row['gravity'].replace("HG","serious injury")
    row['gravity'] = row['gravity'].replace("MT","death")
    row['age'] = row['age'].replace("DESCONOCIDA","unknown")
    pattern2 = 'MAS '
    pattern3 = 'A[NÑ]OS'
    for i in range(len(row['hour'])):
        if row['age'][i] == 'unknown':
            row['age'][i] = row['age'][i]
        else:
            row['age'][i] = re.sub(pattern2, '+',row['age'][i])
            row['age'][i] = re.sub(pattern, '',row['age'][i])
            row['age'][i] = re.sub(pattern1, '-',row['age'][i])
            row['age'][i] = re.sub(pattern3, 'years old',row['age'][i])
    #row['age'] = row['age'].replace("DE","BETWEEN")
    #row['age'] = row['age'].replace("A","AND")
    #row['age'] = row['age'].replace("AÑOS","years old")
    return row

In [29]:
clean_accidents = translate(total_accidents)
clean_accidents

<ipython-input-28-a3ecc0faabb8>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['hour'][i] = re.sub(pattern, '',row['hour'][i])
<ipython-input-28-a3ecc0faabb8>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['hour'][i] = re.sub(pattern1, '-',row['hour'][i])
<ipython-input-28-a3ecc0faabb8>:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['age'][i] = re.sub(pattern2, '+',row['age'][i])
<ipython-input-28-a3ecc0faabb8>:97: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['age'][i] = re.sub(pattern, '',row['age'][i])
<ipython-input-28-a3ecc0faabb8>:98: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['age'][i] = re.sub(pattern1, '-',row['age'][i])
<ipython-input-28-a3ecc0faabb8>:99: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['age'][i] = re.sub(pattern3, 'years old',row['age'][i])
<ipython-input-28-a3ecc0faabb8>:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['age'][i] = row['age'][i]

,date,hour,week_day,district,street,number,id_accident,ac_hail,ac_ice,ac_rain,...,gravel,ice,dry_and_clean,number_of_victims,type_of_accident,vehicle,type_of_person,gender,gravity,age
0,2016-01-01,00:00-00:59,Friday,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,0,0,0,...,0,0,1,4,run over,unknown,pedestrian,male,mild injury,6-9 years old
1,2016-01-01,00:00-00:59,Friday,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,0,0,0,...,0,0,1,4,run over,unknown,pedestrian,male,mild injury,40-44 years old
2,2016-01-01,00:00-00:59,Friday,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,0,0,0,...,0,0,1,4,run over,unknown,pedestrian,male,mild injury,35-39 years old
3,2016-01-01,00:00-00:59,Friday,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,0,0,0,...,0,0,1,4,run over,unknown,pedestrian,female,mild injury,35-39 years old
4,2016-01-01,00:00-00:59,Friday,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,0,0,0,...,0,0,1,4,run over,car,driver,male,uninjured,30-34 years old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78031,2018-12-31,21:00-21:59,Monday,SALAMANCA,CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA,0,2019/18,0,0,0,...,0,0,1,1,multiple crash,car,traveler,male,uninjured,30-34 years old
78032,2018-12-31,21:00-21:59,Monday,SALAMANCA,CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA,0,2019/18,0,0,0,...,0,0,1,1,multiple crash,car,driver,male,uninjured,40-44 years old
78033,2018-12-31,23:00-23:59,Monday,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,2019/53,0,0,0,...,0,0,1,1,other,car,driver,female,uninjured,21-24 years old
78034,2018-12-31,23:00-23:59,Monday,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,2019/53,0,0,0,...,0,0,1,1,other,car,driver,male,mild injury,50-54 years old
78035,2018-12-31,23:00-23:59,Monday,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,2019/53,0,0,0,...,0,0,1,1,other,car,driver,unknown,unknown,unknown

In [30]:
for col in clean_accidents.columns:
    print(clean_accidents[col].unique())

['2016-01-01T00:00:00.000000000' '2016-01-02T00:00:00.000000000'
 '2016-01-03T00:00:00.000000000' ... '2018-12-29T00:00:00.000000000'
 '2018-12-30T00:00:00.000000000' '2018-12-31T00:00:00.000000000']
['00:00-00:59' '1:00-1:59' '2:00-2:59' '3:00-3:59' '5:00-5:59' '6:00-6:59'
 '9:00-9:59' '11:00-11:59' '12:00-12:59' '14:00-14:59' '16:00-16:59'
 '18:00-18:59' '19:00-19:59' '20:00-20:59' '21:00-21:59' '22:00-22:59'
 '23:00-23:59' '15:00-15:59' '17:00-17:59' '10:00-10:59' '13:00-13:59'
 '7:00-7:59' '8:00-8:59' '4:00-4:59']
['Friday' 'Saturday' 'Sunday' 'Monday' 'Tuesday' 'Wednesday' 'Thursday']
['PUENTE DE VALLECAS' 'CIUDAD LINEAL' 'CHAMARTIN' 'USERA' 'LATINA'
 'RETIRO' 'VILLAVERDE' 'SALAMANCA' 'CHAMBERI' 'ARGANZUELA' 'TETUAN'
 'FUENCARRAL-EL PARDO' 'HORTALEZA' 'CENTRO' 'BARAJAS' 'CARABANCHEL'
 'VILLA DE VALLECAS' 'SAN BLAS' 'MONCLOA-ARAVACA' 'VICALVARO' 'MORATALAZ']
['AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE DARIEN'
 'AVENIDA DEL MARQUES DE CORBERA NUM' 'AUTOVIA  M-30 CALZADA 1 KM.' ...
 'CALLE DE ESTEBAN COLLANTES - CALLE DE LUIS RUIZ'
 "CARRETERA DE ACCESO A LA ESTACION DE O'DONNELL - CALLE DE PIRRA"
 'CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SILVANO']
[0 7 1300 219 70 95 3200 3 10300 54 268 30400 66 82 37800 2 16 14
 '          ' 11 6 5300 191 1 62 181 40 1600 10600 112 9 157 46 218 30 19
 51 104 32 115 4800 144 30200 31500 31800 45 10900 217 306 7500 381 146 15
 31 36 5 97 27 13 173 30700 20 25 88 22 4 63 136 41 17 101 53 67 39 10
 10700 23 23800 159 4200 35 149 21 50 25900 3000 4500 32000 106 75 91 154
 342 47 5500 203 139 20000 102 4900 23300 7800 31400 19500 12000 69 339
 127 5100 78 90 71 8900 18 12500 68 34 199 321 80 109 105 338 153 8000
 28700 30600 43 38 9900 79 44 6000 55 2900 25800 215 243 49 300 29900 37
 8800 143 389 93 250 98 119 9500 24 84 277 29500 92 77 33 167 332 9800 169
 155 582 2200 8 5200 128 52 83 251 800 8200 60 29 61 5000 580 420 76 6900
 6800 7700 1500 183 142 8400 56 432 6200 2800 174 42 107 378 110 13000
 5700 72 150 164 141 29600 58 4300 12 99 125 270 371 716 103 9000 5400 280
 8700 305 124 11800 123 10500 12200 31700 96 2500 87 138 116 26 1000 297
 7900 8600 120 258 5600 7400 160 11500 24500 32100 145 108 31000 147 3800
 3600 114 74 156 236 195 8100 122 7100 8300 3300 65 81 172 121 23000 133
 6700 11400 7300 10000 11900 148 118 48 4000 14900 3500 59 636 10200 162
 206 5900 132 269 256 28 259 16400 73 57 177 134 14700 12100 64 6600 89
 7600 21900 274 6500 131 14500 198 166 19400 240 246 516 724 234 900 111
 336 193 3100 314 30800 388 14200 2400 263 356 5800 14000 9600 6100 179
 508 500 15800 135 113 29800 28500 152 400 594 14100 16800 31900 202 2100
 4700 4600 337 450 15600 140 100 31300 7200 28800 11300 14800 21800 2000
 187 293 12300 180 19800 325 245 158 670 596 276 231 4100 333 85 402 9400
 16000 12800 126 210 19100 6400 200 222 357 6300 175 3700 17400 17500 224
 211 10400 151 24800 165 15900 94 253 291 24700 30900 23900 14600 242
 23600 184 298 201 15100 275 4400 278 129 286 328 700 265 15000 288 185
 216 137 20300 86 3400 176 585 168 318 130 600 178 161 9300 570 3900 571
 7000 365 171 340 11600 11000 248 29100 25400 2600 702 19000 264 510 326
 496 302 30300 335 472 320 576 237 11100 308 257 14300 16500 279 290 9100
 8500 15700 319 418 225 17100 304 23200 24000 204 346 348 117 458 364 271
 227 316 454 196 32300 285 29000 261 194 10800 182 17000 207 525 267 163
 31600 9700 29400 50400 220 310 640 170 573 30000 546 577 395 235 186 324
 13800 10100 13300 34800 490 726 20800 424 423 192 262 15500 205 292 289
 380 1700 22200 12400 24600 29300 18000 30500 1100 15400 2700 21300 22800
 20100 379 11700 13600 518 13700 247 631 690 11200 383 1800 606 22400 483
 32200 345 31100 226 301 12700 252 212 244 330 232 1200 13900 575 208
 21400 329 260 2300 322 9200 610 353 272 209 386 470 317 238 22000 21000
 221 25700 595 230 534 590 287 385 31200 593 18100 13500 228 21500 19300
 249 283 19700 20600 229 397 392 462 43300 17300 284 406 323 28400 311 413
 299 26800 18800 18900 16900 239 624 540 188 341 16700 233 190 197 295
 22500 366 501 315 13200 30100 19200 17600 21200 638 282 644 1900 17700
 213 370 692 20500 214 349 460 18200 411 363 642 456 632 15200 24300 538
 24400 548 21700 25600 303 27000 428 350 480 20400 307 281 352 12600 334
 313 22600 359 634 33400 612 19900 189 255 223 608 312 686 404 451 491
 17200 14400 611 23700 654 452 390 447 26000 32700 728 712 377 373 23100
 20200 625 344 492 28300 254 387 21600 448 710 20900 522 401 5850 718
 15300 25300 375 391 294 28000 3650 296 579 457 22700 53200 527 28900 374
 1400 467 22300 414 588 24200 26300 569 487 622 425 22900 20700 26600 351
 412 355]
['2016/4' '2016/437' '2016/31' ... '2019/32' '2019/18' '2019/53']
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[ 4  1  2  3  5  7  6  8 16  9 14 11 10 19 12 15 18]
['run over' 'multiple crash' 'other' 'crash with a fixed object'
 'motorcycle crash']
['unknown' 'car' 'motorcycle' 'van' 'bus' 'other' 'bycicle']
['pedestrian' 'driver' 'traveler']
['male' 'female' 'unknown']
['mild injury' 'uninjured' 'serious injury' 'unknown' 'death']
['6-9 years old ' '40-44 years old' '35-39 years old' '30-34 years old'
 '25-29 years old' '50-54 years old' '55-59 years old' '21-24 years old'
 '15-17 years old' '60-64 years old' '18-20 years old' '+74 years old '
 '45-49 years old' '65-69 years old' 'unknown' '10-14 years old'
 '70-74 years old' '0-5 years old']

In [31]:
clean_accidents.isna().sum()

date                 0
hour                 0
week_day             0
district             0
street               0
number               0
id_accident          0
ac_hail              0
ac_ice               0
ac_rain              0
ac_fog               0
ac_dry               0
ac_snow              0
wet                  0
oil                  0
mud                  0
gravel               0
ice                  0
dry_and_clean        0
number_of_victims    0
type_of_accident     0
vehicle              0
type_of_person       0
gender               0
gravity              0
age                  0
dtype: int64

In [ ]:
# I'm going to check if all unknown vehicles are because type of people are pedestrians

In [32]:
clean_accidents['vehicle'].value_counts()

car           47977
motorcycle    12865
unknown        5208
other          3674
van            3476
bus            2624
bycicle        2212
Name: vehicle, dtype: int64

In [33]:
clean_accidents['type_of_person'].value_counts()

driver        57013
traveler      15858
pedestrian     5165
Name: type_of_person, dtype: int64

In [ ]:
# Not all, but probably most of them

In [34]:
for i in range(len(clean_accidents['vehicle'])):
    if (clean_accidents['vehicle'][i] == 'unknown') & (clean_accidents['type_of_person'][i] == 'pedestrian'):
        clean_accidents['vehicle'][i] = 'none'

<ipython-input-34-6e9585f11168>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_accidents['vehicle'][i] = 'none'

In [35]:
clean_accidents['vehicle'].value_counts()

car           47977
motorcycle    12865
none           5159
other          3674
van            3476
bus            2624
bycicle        2212
unknown          49
Name: vehicle, dtype: int64

In [36]:
pedestrian = clean_accidents[clean_accidents['type_of_person'] =='pedestrian']
pedestrian['vehicle'].value_counts()

none     5159
other       3
car         2
van         1
Name: vehicle, dtype: int64

In [ ]:
# If they are pedestrians, it is impossible they were on a car or a van, so i'm going to change it. Other it's possible because they can have an skate or something like that.

In [37]:
for i in range(len(clean_accidents['vehicle'])):
    if ((clean_accidents['vehicle'][i] == 'car') or (clean_accidents['vehicle'][i] == 'van')) & (clean_accidents['type_of_person'][i] == 'pedestrian'):
        clean_accidents['vehicle'][i] = 'none'

<ipython-input-37-5d4695f3e438>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_accidents['vehicle'][i] = 'none'

In [38]:
pedestrian = clean_accidents[clean_accidents['type_of_person'] =='pedestrian']
pedestrian['vehicle'].value_counts()

none     5162
other       3
Name: vehicle, dtype: int64

In [41]:
codes = pd.read_excel('./files_for_lab/codes.xlsx')
codes

               DISTRICT  CODE
0                 USERA    12
1              SAN BLAS    20
2   FUENCARRAL-EL PARDO     8
3            ARGANZUELA     2
4             SALAMANCA     4
5           CARABANCHEL    11
6                TETUAN     6
7              CHAMBERI     7
8            VILLAVERDE    17
9    PUENTE DE VALLECAS    13
10              BARAJAS    21
11            HORTALEZA    16
12        CIUDAD LINEAL    15
13            MORATALAZ    14
14               CENTRO     1
15            CHAMARTIN     5
16               RETIRO     3
17      MONCLOA-ARAVACA     9
18            VICALVARO    19
19    VILLA DE VALLECAS    18
20               LATINA    10

In [42]:
#I'm going to add a new column with the district code

In [43]:
clean_accidents['district_code'] = 0
for r in range(len(codes['DISTRICT'])):
    for i in range(len(clean_accidents['district'])):
        if clean_accidents['district'][i] == codes['DISTRICT'][r]:
            clean_accidents['district_code'][i] += codes['CODE'][r]

<ipython-input-43-c437499abf76>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_accidents['district_code'][i] += codes['CODE'][r]

In [44]:
clean_accidents

,date,hour,week_day,district,street,number,id_accident,ac_hail,ac_ice,ac_rain,...,ice,dry_and_clean,number_of_victims,type_of_accident,vehicle,type_of_person,gender,gravity,age,district_code
0,2016-01-01,00:00-00:59,Friday,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,0,0,0,...,0,1,4,run over,none,pedestrian,male,mild injury,6-9 years old,13
1,2016-01-01,00:00-00:59,Friday,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,0,0,0,...,0,1,4,run over,none,pedestrian,male,mild injury,40-44 years old,13
2,2016-01-01,00:00-00:59,Friday,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,0,0,0,...,0,1,4,run over,none,pedestrian,male,mild injury,35-39 years old,13
3,2016-01-01,00:00-00:59,Friday,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,0,0,0,...,0,1,4,run over,none,pedestrian,female,mild injury,35-39 years old,13
4,2016-01-01,00:00-00:59,Friday,PUENTE DE VALLECAS,AVENIDA DE PABLO NERUDA - CALLE DEL GOLFO DE D...,0,2016/4,0,0,0,...,0,1,4,run over,car,driver,male,uninjured,30-34 years old,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78031,2018-12-31,21:00-21:59,Monday,SALAMANCA,CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA,0,2019/18,0,0,0,...,0,1,1,multiple crash,car,traveler,male,uninjured,30-34 years old,4
78032,2018-12-31,21:00-21:59,Monday,SALAMANCA,CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA,0,2019/18,0,0,0,...,0,1,1,multiple crash,car,driver,male,uninjured,40-44 years old,4
78033,2018-12-31,23:00-23:59,Monday,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,2019/53,0,0,0,...,0,1,1,other,car,driver,female,uninjured,21-24 years old,16
78034,2018-12-31,23:00-23:59,Monday,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,2019/53,0,0,0,...,0,1,1,other,car,driver,male,mild injury,50-54 years old,16
78035,2018-12-31,23:00-23:59,Monday,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,2019/53,0,0,0,...,0,1,1,other,car,driver,unknown,unknown,unknown,16

In [115]:
max(clean_accidents['district_code'])

21

In [46]:
accidents = clean_accidents[['date', 'hour' , 'week_day', 'district', 'street','id_accident', 'number_of_victims', 'type_of_accident', 'vehicle', 'type_of_person',
       'gender', 'gravity', 'age', 'district_code']]

In [47]:
accidents.to_excel('./files_for_lab/accidents.xlsx')
accidents.to_csv('./files_for_lab/accidents.csv')

In [ ]:
# I'm going to use this file to obtain postal codes in MYSQL using the postal_codes file.

In [48]:
postal_codes = pd.read_csv('./files_for_lab/postal_codes.csv', sep=';', engine='python')
postal_codes

,Codigo de via,Clase de la via,Particula de la via,Nombre de la via,Tipo de tramo,Nombre de la aproximacion,Numero inicial del tramo,Calificador del numero inicial del tramo,Numero final del tramo,Calificador del numero final del tramo,Codigo postal,Seccion de carteria
0,127,CALLE,DE,ISABEL COLBRAND,par,NUM,2,,12,,28050,N/D
1,127,CALLE,DE,ISABEL COLBRAND,par,NUM,14,,22,,28050,N/D
2,127,CALLE,DE,ISABEL COLBRAND,par,NUM,24,,9998,,28050,N/D
3,150,CALLE,DE,GONZALEZ DAVILA,impar,NUM,1,,9999,,28031,N/D
4,150,CALLE,DE,GONZALEZ DAVILA,par,NUM,2,,9998,,28031,N/D
...,...,...,...,...,...,...,...,...,...,...,...,...
22916,31004755,TRAVESIA,DE,CAPRI,par,NUM,2,,9998,,28032,N/D
22917,31004759,CALLE,DE,ANGELES GARCIA MADRID,impar,NUM,1,,9999,,28007,N/D
22918,31004759,CALLE,DE,ANGELES GARCIA MADRID,par,NUM,2,,9998,,28007,N/D
22919,31004764,PLAZA,DE LOS,CHISPEROS DE CHAMBERI,impar,NUM,1,,9999,,28010,N/D
22920,31004764,PLAZA,DE LOS,CHISPEROS DE CHAMBERI,par,NUM,2,,9998,,28010,N/D

In [ ]:
# I'm not going to translate this table because it's not important. I'm going to use this table and street_codes to obtain the postal code.

In [49]:
postal_codes['Codigo postal'].nunique()

56

In [52]:
postal_code_finished = postal_codes[['Codigo de via', 'Clase de la via','Particula de la via', 'Nombre de la via', 'Codigo postal']]
postal_code_finished

,Codigo de via,Clase de la via,Particula de la via,Nombre de la via,Codigo postal
0,127,CALLE,DE,ISABEL COLBRAND,28050
1,127,CALLE,DE,ISABEL COLBRAND,28050
2,127,CALLE,DE,ISABEL COLBRAND,28050
3,150,CALLE,DE,GONZALEZ DAVILA,28031
4,150,CALLE,DE,GONZALEZ DAVILA,28031
...,...,...,...,...,...
22916,31004755,TRAVESIA,DE,CAPRI,28032
22917,31004759,CALLE,DE,ANGELES GARCIA MADRID,28007
22918,31004759,CALLE,DE,ANGELES GARCIA MADRID,28007
22919,31004764,PLAZA,DE LOS,CHISPEROS DE CHAMBERI,28010
22920,31004764,PLAZA,DE LOS,CHISPEROS DE CHAMBERI,28010

In [61]:
code_postal_code = pd.read_excel('./files_for_lab/code_postal_code.xlsx')
code_postal_code

,Clase de la via,Particula de la via,Nombre de la via,Codigo de vía,Cantidad de numeraciones en la via,Distritos atravesados,Codigos postales,Campo que indica si tiene zonas en S E R,Tipo de la via,Situacion de la via respecto al terreno,Tipo de denominación de la vía,Superficie aproximada m2 (aceras-isletas),Superficie aproximada m2 (calzada),Literal completo del vial
0,CALLE,DE,ISABEL COLBRAND,127,52,8,28050,NO,Vía,Nivel,Pleno,11858,16916,CALLE DE ISABEL COLBRAND ...
1,CALLE,DE,GONZALEZ DAVILA,150,18,18,varios,NO,Vía,Nivel,Pleno,6655,13875,CALLE DE GONZÁLEZ DÁVILA ...
2,CALLE,DE LA,ABADA,200,12,2021-01-01 00:00:00,varios,SI,Vía,Nivel,Pleno,2145,0,CALLE DE LA ABADA ...
3,CALLE,DE LOS,ABADES,300,19,1,varios,SI,Vía,Nivel,Pleno,897,0,CALLE DE LOS ABADES ...
4,CALLE,DE LA,ABADESA,400,7,6,varios,SI,Vía,Nivel,Pleno,131,314,CALLE DE LA ABADESA ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9846,CAÑADA,,REAL SECTOR 5,31005678,140,19,,NO,Topónimo,Nivel,Admon,0,0,CAÑADA REAL SECTOR 5 ...
9847,CAÑADA,,REAL SECTOR 3,31005679,48,19,,NO,Topónimo,Nivel,Admon,0,0,CAÑADA REAL SECTOR 3 ...
9848,CAÑADA,,REAL SECTOR 4,31005680,89,19,,NO,Topónimo,Nivel,Pleno,0,0,CAÑADA REAL SECTOR 4 ...
9849,CALLE,DE,ISIDORO ALVAREZ ALVAREZ,31005685,10,2,,SI,Vía,Nivel,Pleno,0,0,CALLE DE ISIDORO ÁLVAREZ ÁLVAREZ ...
9850,PLAZUELA,DE LA,DOCTORA GABRIELA MORREALE,31005686,0,3,,NO,Vía,Nivel,Pleno,0,0,PLAZUELA DE LA DOCTORA GABRIELA MORREALE ...

In [63]:
code_postal_code.columns

Index(['Clase de la via', 'Particula de la via', 'Nombre de la via',
       'Codigo de vía', 'Cantidad de numeraciones en la via',
       'Distritos atravesados', 'Codigos postales',
       'Campo que indica si tiene zonas en S E R ', 'Tipo de la via',
       'Situacion de la via respecto al terreno',
       'Tipo de denominación de la vía ',
       'Superficie aproximada m2 (aceras-isletas)',
       'Superficie aproximada m2 (calzada)', 'Literal completo del vial '],
      dtype='object')

In [93]:
code_postal_code_finished = code_postal_code[['Clase de la via', 'Particula de la via', 'Nombre de la via', 'Codigo de vía', 'Distritos atravesados', 'Literal completo del vial ']]
code_postal_code_finished

,Clase de la via,Particula de la via,Nombre de la via,Codigo de vía,Distritos atravesados,Literal completo del vial
0,CALLE,DE,ISABEL COLBRAND,127,8,CALLE DE ISABEL COLBRAND ...
1,CALLE,DE,GONZALEZ DAVILA,150,18,CALLE DE GONZÁLEZ DÁVILA ...
2,CALLE,DE LA,ABADA,200,2021-01-01 00:00:00,CALLE DE LA ABADA ...
3,CALLE,DE LOS,ABADES,300,1,CALLE DE LOS ABADES ...
4,CALLE,DE LA,ABADESA,400,6,CALLE DE LA ABADESA ...
...,...,...,...,...,...,...
9846,CAÑADA,,REAL SECTOR 5,31005678,19,CAÑADA REAL SECTOR 5 ...
9847,CAÑADA,,REAL SECTOR 3,31005679,19,CAÑADA REAL SECTOR 3 ...
9848,CAÑADA,,REAL SECTOR 4,31005680,19,CAÑADA REAL SECTOR 4 ...
9849,CALLE,DE,ISIDORO ALVAREZ ALVAREZ,31005685,2,CALLE DE ISIDORO ÁLVAREZ ÁLVAREZ ...
9850,PLAZUELA,DE LA,DOCTORA GABRIELA MORREALE,31005686,3,PLAZUELA DE LA DOCTORA GABRIELA MORREALE ...

In [66]:
code_postal_code_finished.dtypes

Clase de la via               object
Particula de la via           object
Nombre de la via              object
Codigo de vía                  int64
Distritos atravesados         object
Literal completo del vial     object
dtype: object

In [68]:
code_postal_code_finished['Distritos atravesados'].unique()

array([8, 18, datetime.datetime(2021, 1, 1, 0, 0), 1, 6, 15, 20,
       datetime.datetime(2021, 7, 4, 0, 0), 16, 3, 5, 2, 9, 14, 21,
       datetime.datetime(2021, 9, 8, 0, 0), 13,
       '16-20                                                       ',
       '08-16-21                                                    ', 17,
       '16-21                                                       ', 12,
       7, 10, datetime.datetime(2021, 8, 4, 0, 0),
       '14-15                                                       ',
       '08-15-16-20-21                                              ',
       datetime.datetime(2017, 12, 1, 0, 0), 11,
       datetime.datetime(2018, 8, 1, 0, 0),
       datetime.datetime(2018, 9, 1, 0, 0),
       datetime.datetime(2016, 8, 1, 0, 0),
       datetime.datetime(2021, 12, 11, 0, 0),
       '                                                            ',
       datetime.datetime(2021, 8, 1, 0, 0),
       datetime.datetime(2021, 8, 7, 0, 0),
       datetime.datetime(2017, 8, 1, 0, 0),
       datetime.datetime(2021, 10, 8, 0, 0), 4,
       datetime.datetime(2021, 6, 5, 0, 0),
       datetime.datetime(2021, 7, 6, 0, 0),
       datetime.datetime(2021, 7, 1, 0, 0),
       datetime.datetime(2021, 3, 1, 0, 0),
       datetime.datetime(2021, 3, 2, 0, 0),
       datetime.datetime(2021, 4, 3, 0, 0),
       datetime.datetime(2021, 2, 1, 0, 0),
       datetime.datetime(2021, 9, 1, 0, 0),
       datetime.datetime(2009, 7, 1, 0, 0),
       datetime.datetime(2015, 5, 1, 0, 0),
       datetime.datetime(2021, 5, 4, 0, 0),
       '15-20                                                       ',
       datetime.datetime(2007, 6, 5, 0, 0),
       datetime.datetime(2021, 9, 7, 0, 0),
       datetime.datetime(2014, 3, 1, 0, 0),
       datetime.datetime(2021, 8, 6, 0, 0),
       datetime.datetime(2021, 10, 9, 0, 0),
       datetime.datetime(2021, 11, 4, 0, 0), 19,
       datetime.datetime(2019, 9, 1, 0, 0),
       '08-09-10-11-12-13-14-15-16-17-18-19-20-21                   ',
       datetime.datetime(2016, 9, 1, 0, 0),
       datetime.datetime(2021, 12, 3, 0, 0),
       datetime.datetime(2021, 12, 8, 0, 0),
       '08-20-21                                                    ',
       datetime.datetime(2020, 8, 1, 0, 0),
       '18-19                                                       ',
       datetime.datetime(2021, 11, 10, 0, 0),
       '18-21                                                       ',
       '19-20                                                       ',
       datetime.datetime(2016, 2, 1, 0, 0),
       '13-16                                                       ',
       datetime.datetime(2016, 4, 1, 0, 0),
       datetime.datetime(2016, 12, 1, 0, 0),
       datetime.datetime(2016, 10, 1, 0, 0),
       '01-03-04-15-20                                              ',
       datetime.datetime(2021, 9, 6, 0, 0),
       '15-16                                                       ',
       '04-05-15-16-20-21                                           ',
       '11-12-17-18                                                 ',
       '20-21                                                       ',
       '14-19                                                       ',
       datetime.datetime(2009, 8, 6, 0, 0),
       '15-19                                                       ',
       datetime.datetime(2015, 9, 1, 0, 0),
       datetime.datetime(2016, 8, 5, 0, 0),
       '04-05-06-07-08                                              ',
       datetime.datetime(2004, 3, 1, 0, 0),
       datetime.datetime(2021, 5, 1, 0, 0),
       datetime.datetime(2021, 8, 5, 0, 0),
       datetime.datetime(2007, 4, 1, 0, 0),
       datetime.datetime(2021, 10, 2, 0, 0),
       '14-15-19                                                    ',
       datetime.datetime(2007, 5, 4, 0, 0),
       datetime.datetime(2013, 2, 1, 0, 0),
       datetime.datetime(2003, 2, 1, 0, 0),
       datetime.datetime(2016, 6, 1, 0, 0),
       datetime.datetime(2011, 10, 8, 0, 0),
       datetime.datetime(2021, 6, 1, 0, 0),
       '15-16-20                                                    ',
       '14-15-16                                                    ',
       datetime.datetime(2021, 9, 5, 0, 0),
       datetime.datetime(2021, 11, 5, 0, 0),
       '16-20-21                                                    ',
       '13-18                                                       ',
       datetime.datetime(2016, 11, 1, 0, 0),
       datetime.datetime(2014, 9, 1, 0, 0),
       '04-05-15-16                                                 ',
       '02-10-11-12-13                                              ',
       datetime.datetime(2017, 10, 9, 0, 0),
       '03-13-14-18-19                                              ',
       datetime.datetime(2020, 4, 1, 0, 0),
       '03-04-14-15-19                                              ',
       datetime.datetime(2009, 7, 6, 0, 0),
       '02-03-04-05-08-09-12-13-14-15                               ',
       '13-14                                                       ',
       datetime.datetime(2012, 11, 10, 0, 0),
       datetime.datetime(2010, 9, 1, 0, 0),
       datetime.datetime(2017, 12, 11, 0, 0),
       datetime.datetime(2021, 12, 2, 0, 0),
       datetime.datetime(2012, 11, 2, 0, 0),
       datetime.datetime(2021, 11, 2, 0, 0),
       datetime.datetime(2021, 4, 1, 0, 0),
       '05-15-16                                                    ',
       '12-17-18                                                    ',
       datetime.datetime(2015, 10, 1, 0, 0),
       datetime.datetime(2019, 10, 1, 0, 0),
       '13-15                                                       ',
       datetime.datetime(2021, 11, 8, 0, 0),
       '19-20-21                                                    ',
       '13-18-19-20                                                 ',
       '13-17-18                                                    ',
       datetime.datetime(2011, 2, 1, 0, 0),
       datetime.datetime(2017, 9, 1, 0, 0),
       datetime.datetime(2021, 11, 9, 0, 0),
       datetime.datetime(2019, 8, 1, 0, 0),
       '08-18-19                                                    ',
       datetime.datetime(2016, 8, 6, 0, 0),
       datetime.datetime(2020, 9, 1, 0, 0),
       datetime.datetime(2015, 4, 1, 0, 0),
       datetime.datetime(2013, 3, 1, 0, 0),
       '16-19                                                       ',
       '11-17-18-19                                                 ',
       datetime.datetime(2021, 11, 6, 0, 0),
       '19-21                                                       ',
       '16-18-21                                                    ',
       '13-17                                                       ',
       '02-11-12-17                                                 ',
       '01-02-03-04-05-06-08-09-10-11-12-13-14-15-16                ',
       '11-19-20                                                    ',
       datetime.datetime(2018, 12, 1, 0, 0),
       '01-02-09-10-11-12                                           '],
      dtype=object)

In [ ]:
# This column is one of the most important because it's a link between the two tables i need in mysql to obtain the postal code. I need to clean it.
# Datetime is an error, the day or the month are the different districts. Day is the main district and month a district where the street pass but not a lot. In day it's the most part of the street.
# And there are a lot of streets with many code districts, so i'm going to use random to pick one because i need unique values.

In [70]:
import random
import time
import datetime
from datetime import date

In [94]:
for i in range(len(code_postal_code_finished['Distritos atravesados'])):
    if isinstance( code_postal_code_finished['Distritos atravesados'][i], str ) == True:
        code_postal_code_finished['Distritos atravesados'][i] = code_postal_code_finished['Distritos atravesados'][i].strip()

<ipython-input-94-10452abc5287>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  code_postal_code_finished['Distritos atravesados'][i] = code_postal_code_finished['Distritos atravesados'][i].strip()
C:\Users\Propietario\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [95]:
for i in range(len(code_postal_code_finished['Distritos atravesados'])):
    if code_postal_code_finished['Distritos atravesados'][i] == '':
        code_postal_code_finished['Distritos atravesados'] = code_postal_code_finished['Distritos atravesados']
    else:
        if (isinstance( code_postal_code_finished['Distritos atravesados'][i], str ) == False) & (isinstance( code_postal_code_finished['Distritos atravesados'][i], int ) == False):
            day = code_postal_code_finished['Distritos atravesados'][i].day
            code_postal_code_finished['Distritos atravesados'][i] = day
        else:
            if isinstance( code_postal_code_finished['Distritos atravesados'][i], int ) == True:
                code_postal_code_finished['Distritos atravesados'][i] = code_postal_code_finished['Distritos atravesados'][i]
            else:
                pattern = '\d+'
                list_ = re.findall(pattern, code_postal_code_finished['Distritos atravesados'][i])
                winner = random.choice(list_)
                code_postal_code_finished['Distritos atravesados'][i] = winner
code_postal_code_finished['Distritos atravesados'] = pd.to_numeric(code_postal_code_finished['Distritos atravesados'])

<ipython-input-95-77a26863843f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  code_postal_code_finished['Distritos atravesados'][i] = code_postal_code_finished['Distritos atravesados'][i]
<ipython-input-95-77a26863843f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  code_postal_code_finished['Distritos atravesados'][i] = day
<ipython-input-95-77a26863843f>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  code_postal_code_finished['Distritos atravesados'][i] = winner
<ipython-input-95-77a26863843f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  code_postal_code_finished['Distritos atravesados'] = code_postal_code_finished['Distritos atravesados']
<ipython-input-95-77a26863843f>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  code_postal_code_finished['Distritos atravesados'] = pd.to_numeric(code_postal_code_finished['Distritos atravesados'])

In [96]:
code_postal_code_finished

,Clase de la via,Particula de la via,Nombre de la via,Codigo de vía,Distritos atravesados,Literal completo del vial
0,CALLE,DE,ISABEL COLBRAND,127,8.0,CALLE DE ISABEL COLBRAND ...
1,CALLE,DE,GONZALEZ DAVILA,150,18.0,CALLE DE GONZÁLEZ DÁVILA ...
2,CALLE,DE LA,ABADA,200,1.0,CALLE DE LA ABADA ...
3,CALLE,DE LOS,ABADES,300,1.0,CALLE DE LOS ABADES ...
4,CALLE,DE LA,ABADESA,400,6.0,CALLE DE LA ABADESA ...
...,...,...,...,...,...,...
9846,CAÑADA,,REAL SECTOR 5,31005678,19.0,CAÑADA REAL SECTOR 5 ...
9847,CAÑADA,,REAL SECTOR 3,31005679,19.0,CAÑADA REAL SECTOR 3 ...
9848,CAÑADA,,REAL SECTOR 4,31005680,19.0,CAÑADA REAL SECTOR 4 ...
9849,CALLE,DE,ISIDORO ALVAREZ ALVAREZ,31005685,2.0,CALLE DE ISIDORO ÁLVAREZ ÁLVAREZ ...
9850,PLAZUELA,DE LA,DOCTORA GABRIELA MORREALE,31005686,3.0,PLAZUELA DE LA DOCTORA GABRIELA MORREALE ...

In [100]:
code_postal_code_finished['Distritos atravesados'].unique()

array([ 8., 18.,  1.,  6., 15., 20.,  4., 16.,  3.,  5.,  2.,  9., 14.,
       21., 13., 17., 12.,  7., 10., 11., nan, 19.])

In [ ]:
# The NAN aare the empty spaces, so i can drop all these rows

In [102]:
code_postal_code_finished['Distritos atravesados'].value_counts(dropna = False)

8.0     850
9.0     825
11.0    746
1.0     731
16.0    670
13.0    635
20.0    566
10.0    512
5.0     500
15.0    491
6.0     428
17.0    425
18.0    386
12.0    373
21.0    305
19.0    291
2.0     269
4.0     266
3.0     261
7.0     204
14.0    115
NaN       2
Name: Distritos atravesados, dtype: int64

In [110]:
code_postal_code_finished = code_postal_code_finished.dropna()
code_postal_code_finished = code_postal_code_finished.reset_index(drop=True)
code_postal_code_finished

,Clase de la via,Particula de la via,Nombre de la via,Codigo de vía,Distritos atravesados,Literal completo del vial
0,CALLE,DE,ISABEL COLBRAND,127,8.0,CALLE DE ISABEL COLBRAND ...
1,CALLE,DE,GONZALEZ DAVILA,150,18.0,CALLE DE GONZÁLEZ DÁVILA ...
2,CALLE,DE LA,ABADA,200,1.0,CALLE DE LA ABADA ...
3,CALLE,DE LOS,ABADES,300,1.0,CALLE DE LOS ABADES ...
4,CALLE,DE LA,ABADESA,400,6.0,CALLE DE LA ABADESA ...
...,...,...,...,...,...,...
9844,CAÑADA,,REAL SECTOR 5,31005678,19.0,CAÑADA REAL SECTOR 5 ...
9845,CAÑADA,,REAL SECTOR 3,31005679,19.0,CAÑADA REAL SECTOR 3 ...
9846,CAÑADA,,REAL SECTOR 4,31005680,19.0,CAÑADA REAL SECTOR 4 ...
9847,CALLE,DE,ISIDORO ALVAREZ ALVAREZ,31005685,2.0,CALLE DE ISIDORO ÁLVAREZ ÁLVAREZ ...
9848,PLAZUELA,DE LA,DOCTORA GABRIELA MORREALE,31005686,3.0,PLAZUELA DE LA DOCTORA GABRIELA MORREALE ...

In [105]:
postal_code_finished['Codigo postal'].value_counts(dropna=False)

28023    811
28011    801
28021    793
28042    722
28043    677
28019    675
28053    655
28039    628
28033    625
28025    624
28022    624
28035    613
28002    604
28041    574
28026    560
28037    560
28027    550
28031    547
28017    526
28034    517
28018    499
28005    498
28038    474
28029    451
28032    433
28044    426
28028    424
28045    417
28050    395
28007    335
28012    321
28055    321
28004    318
28016    308
28051    293
28054    292
28030    288
28049    287
28047    278
28013    267
28020    266
28024    243
28052    235
28015    219
28010    218
28036    211
28003    207
28008    207
28014    199
28009    191
28006    177
28040    176
28048    151
28001    134
28046     72
28760      4
Name: Codigo postal, dtype: int64

In [106]:
def deleting_commas(row):
    for i in range(len(row['Nombre de la via'])):
        row['Nombre de la via'][i] = row['Nombre de la via'][i].replace(",","-")
    return row

In [107]:
postal_code_finished = deleting_commas(postal_code_finished)

<ipython-input-106-cc3ee0bed7a9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['Nombre de la via'][i] = row['Nombre de la via'][i].replace(",","-")
<ipython-input-107-7aa09d19ab1c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  postal_code_finished = deleting_commas(postal_code_finished)

In [111]:
code_postal_code_finished = deleting_commas(code_postal_code_finished)

<ipython-input-106-cc3ee0bed7a9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['Nombre de la via'][i] = row['Nombre de la via'][i].replace(",","-")

In [112]:
for i in range(len(code_postal_code_finished['Literal completo del vial '])):
    code_postal_code_finished['Literal completo del vial '][i] = code_postal_code_finished['Literal completo del vial '][i].replace(",","-")

<ipython-input-112-df1b564ee1d7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  code_postal_code_finished['Literal completo del vial '][i] = code_postal_code_finished['Literal completo del vial '][i].replace(",","-")

In [116]:
postal_code_finished = postal_code_finished.drop_duplicates()

In [117]:
postal_code_finished = postal_code_finished.reset_index(drop=True)

In [118]:
postal_code_finished

,Codigo de via,Clase de la via,Particula de la via,Nombre de la via,Codigo postal
0,127,CALLE,DE,ISABEL COLBRAND,28050
1,150,CALLE,DE,GONZALEZ DAVILA,28031
2,200,CALLE,DE LA,ABADA,28013
3,300,CALLE,DE LOS,ABADES,28012
4,400,CALLE,DE LA,ABADESA,28039
...,...,...,...,...,...
9249,31004752,TRAVESIA,DE LA,ISLA DE JAVA,28034
9250,31004754,TRAVESIA,DE,AQUITANIA,28032
9251,31004755,TRAVESIA,DE,CAPRI,28032
9252,31004759,CALLE,DE,ANGELES GARCIA MADRID,28007
9253,31004764,PLAZA,DE LOS,CHISPEROS DE CHAMBERI,28010

In [119]:
postal_code_finished.to_csv('./files_for_lab/postal_code_finished.csv')
code_postal_code_finished.to_csv('./files_for_lab/code_postal_code_finished.csv')

In [50]:
password = getpass.getpass()

 ········

In [ ]:
# READING THE DATA
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)
data = pd.read_sql('''SELECT i.inventory_id, f.film_id, f.title, f.rental_duration, f.rental_rate, f.length, f.replacement_cost,  f.rating, f.special_features, i.store_id,  r.staff_id, r.rental_date,
CASE
WHEN r.rental_date BETWEEN '2005-01-01' AND '2005-08-1' THEN r.rental_date
ELSE NULL
END AS last_time_rented,
CASE
WHEN MAX(r.rental_date) BETWEEN '2005-08-01' AND '2005-08-31' THEN 1
ELSE 0
END AS rented_last_month, COUNT(r.inventory_id) AS times_rented,
CASE
WHEN MIN(r.rental_date) BETWEEN '2005-01-01' AND '2005-08-1' THEN 1
ELSE 0
END AS rented_before_august
FROM sakila.film f
LEFT JOIN sakila.inventory i USING (film_id)
LEFT JOIN sakila.rental r USING (inventory_id)
WHERE (r.rental_date BETWEEN '2005-01-01' AND '2005-08-31') OR r.rental_date IS NULL
GROUP BY i.inventory_id
ORDER BY i.inventory_id ASC;''', engine)

In [ ]:
data